%block-name,.block-name{
  margin-left: 80px;
  @media screen and (max-width:899px){
    margin-left: 2%;
  }
  &__en{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 60px;
    @media screen and (max-width:899px) {
      font-size: 6.6vw;
    }
  }
  &__ja{
    margin-bottom: 16px;
    @media screen and (max-width:899px) {
      margin-bottom: 2vw;
    }
  }
  &__bar{
    width: 60px;
    height: 4px;
    background-color: #04111C;
  }
}
