
%button,.button{
  display: flex;
	flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  background-color: #1F3741;
  border-radius: 24px;
  text-decoration: none;
  &__text{
    color: #F6F6F6;
    font-family: Apple LiGothic;
    font-size: 20px;
    text-align: center;
  }
  &__arrow{
    font-size: 16px;
    color: #F6F6F6;
    margin-left: 16px;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  &:hover > &__arrow{
    margin-left: 24px
  }
}
