%page-topimg,.page-topimg{
  width: 100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  @media screen and (max-width:899px) {
    height: 50vh;
  }
  @media screen and (max-width:549px) {
    height: 70vw;
  }
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__cover{
    width: 100%;
    height: 100%;
    background-color: #F6F6F6;
    opacity: 0.5;
    position: absolute;top:0;
  }
  &__en{
    font-family: 'Anton', sans-serif;
    font-size: 96px;
    position: absolute;top: 40%;
    @media screen and (max-width:899px) {
      top: 30%;
    }
    @media screen and (max-width:549px) {
      font-size: 14vw;
      top: 25vw;
    }
  }
  &__ja{
    font-family: Hiragino Sans;
    font-size: 32px;
    font-weight: 700;
    position: absolute; top:68%;
    @media screen and (max-width:549px) {
      font-size: 5.8vw;
      top: 50vw;
    }
  }
  &__bar{
    width: 100%;
    height: 4px;
    background-color: #04111C;
  }
}
