Django==2.2
django-heroku==0.3.1
django-cloudinary-storage==0.3.0
gunicorn==19.9.0
django-filter==2.0.0
djangorestframework==3.7.7
dj-database-url==0.5.0
pytz==2018.7
psycopg2-binary==2.8.6
foreman==0.9.6
pillow==8.0.1
django-markdownx==3.0.1
