%page-transition,.page-transition{
  display: flex;
  flex-wrap: wrap;
  width: 468px;
  align-items: center;
  justify-content: space-between;
  margin:40px 0 -16px 0;
  @media screen and (min-width:900px) and (max-width:1079px) {
    width: auto;
  }
  @media screen and (min-width:468px) and (max-width:899px) {
    width: 468px;
    margin:16px 0 -16px 0;
  }
  @media screen and (max-width:467px) {
    width: 100%;
    margin:16px 0 -16px 0;
  }
  &__btn{
    margin-bottom: 16px;
    @media screen and (max-width:467px) {
      margin-left: auto;
    }
  }
  &__p{
    margin-bottom: 16px;
    width: 248px;
    font-weight: 700;
    @media screen and (min-width:900px) and (max-width:1079px) {
      margin-bottom: 4px;
    }
    @media screen and (max-width:467px) {
      margin-bottom: 4px;
    }
  }
}
