%page-transition,.page-transition{
  display: flex;
  flex-wrap: wrap;
  width: 468px;
  align-items: center;
  justify-content: space-between;
  margin:40px 0 -16px 0;
  @media screen and (min-width:500px) and (max-width:1268px) {
    width: 468px;
    margin:40px 0 -16px 0;
  }
  @media screen and (max-width:499px) {
    width: 100%;
    margin:40px 0 -16px 0;
  }
  &__btn{
    margin-bottom: 16px;
    @media screen and (max-width:499px) {
      margin-left: auto;
    }
  }
  &__p{
    margin-bottom: 16px;
    width: 16rem;
    @media screen and (min-width:900px) and (max-width:1079px) {
      margin-bottom: 4px;
    }
    @media screen and (max-width:99px) {
      margin-bottom: 4px;
    }
  }
}
