%schedule-exp,.schedule-exp{
  display: flex;
  flex-flow: column;
  margin: 60px 0 0 40px;
  @media screen and (max-width:900px){
    justify-content: center;
    margin: 8px 10% 0 10%;
  }
  &__p{
    width: 340px;
    padding-top: 40px;
    @media screen and (min-width:900px) and (max-width:1079px) {
      width: auto;
    }
    @media screen and (max-width:550px) and (min-width:899px){
      width: 60vw;
      padding-top: 16px;
    }
    @media screen and (max-width:549px){
      width: 80vw;
      padding-top: 16px;
    }
  }
}
