.top-img__img { width: 100%; height: 100vh; object-fit: cover; object-position: 20%; }

.intro { position: relative; left: 10%; width: 1012px; margin: 60px 0 60px 0; }

@media screen and (max-width: 1124px) { .intro { width: 100%; position: relative; left: 0; } }

.intro__en { font-family: 'Anton', sans-serif; font-size: 44px; padding: 40px 10% 40px 10%; }

@media screen and (max-width: 549px) { .intro__en { font-size: 32px; } }

.intro__bar { width: 480px; height: 4px; background: #04111C; margin-left: 10%; }

@media screen and (min-width: 550px) and (max-width: 1124px) { .intro__bar { width: 50%; } }

@media screen and (max-width: 549px) { .intro__bar { width: 24%; } }

.intro__ja { font-size: 16px; padding: 40px 10% 40px 10%; width: 754px; }

@media screen and (max-width: 1124px) { .intro__ja { width: auto; } }

.intro__diagonal-top, .intro__diagonal-top--down, .intro__diagonal-top--up { display: flex; justify-content: center; align-items: center; cursor: pointer; }

.intro__diagonal-top--up { position: absolute; top: 0px; left: 0px; z-index: -1; }

.intro__diagonal-top--down { position: absolute; bottom: 0px; right: 0px; z-index: -1; }

.finswimming-all { position: relative; margin-top: 40px; }

.finswimming-exp { display: flex; align-items: left; cursor: pointer; flex-direction: column; position: absolute; bottom: 0; left: 60%; }

@media screen and (max-width: 900px) { .finswimming-exp { display: block; position: relative; left: 2%; } }

.finswimming-exp__en { font-family: 'Anton', sans-serif; font-size: 48px; }

@media screen and (max-width: 549px) { .finswimming-exp__en { font-size: 40px; } }

.finswimming-exp__ja { font-size: 16px; font-weight: 700; width: 320px; }

@media screen and (max-width: 899px) { .finswimming-exp__ja { margin-top: 20px; width: 94%; } }

.finswimming-exp__btn { margin-top: 16px; }

@media screen and (max-width: 899px) { .finswimming-exp__btn { margin: 20px 5% 0 auto; } }

.finswimming-movie { width: 800px; margin-left: 10%; padding-bottom: 120px; }

@media screen and (max-width: 900px) { .finswimming-movie { width: 96%; margin: 0 auto; padding-bottom: 0; } }

.finswimming-movie__mp4 { max-width: 100%; }

.finswimming { padding: 100px 0 100px 0; background-color: #EFEFEF; }

@media screen and (max-width: 899px) { .finswimming { width: 100%; padding: 60px 0 60px 0; } }

.forstudent-4block { display: flex; flex-wrap: wrap; width: 960px; margin: 40px auto 0 0; }

@media screen and (min-width: 900px) and (max-width: 1199px) { .forstudent-4block { margin: 40px auto 0 auto; width: 80vw; } }

@media screen and (max-width: 899px) { .forstudent-4block { width: 96vw; margin: 40px auto 0 auto; } }

.forstudent-all { display: flex; }

.forstudent-block-left { display: flex; flex-direction: column; margin: 110px auto 0 auto; }

@media screen and (max-width: 1199px) { .forstudent-block-left { display: none; } }

.forstudent-block-left__upbar, .forstudent-block-left__downbar { width: 4px; height: 60px; background-color: #04111C; }

.forstudent-block-left__downbar { margin-top: 140px; }

.forstudent-block { width: 50%; height: 200px; position: relative; display: flex; justify-content: center; }

@media screen and (min-width: 900px) and (max-width: 1199px) { .forstudent-block { height: 16.7vw; } }

@media screen and (max-width: 899px) { .forstudent-block { width: 96vw; height: 40vw; } }

.forstudent-block__img { width: 100%; height: 100%; object-fit: cover; object-position: center; z-index: 2; }

.forstudent-block__cover { width: 100%; height: 100%; background-color: #F6F6F6; opacity: 0.5; transition: 0.6s; position: absolute; top: 0; z-index: 3; }

.forstudent-block:hover .forstudent-block__cover { opacity: 1; background-color: #e2e2e2; }

.forstudent-block__icon { font-size: 60px; position: absolute; top: 12%; z-index: 4; }

@media screen and (min-width: 900px) and (max-width: 1199px) { .forstudent-block__icon { font-size: 5vw; } }

@media screen and (max-width: 899px) { .forstudent-block__icon { font-size: 12vw; } }

.forstudent-block__en { font-size: 40px; font-family: 'Anton', sans-serif; position: absolute; top: 43%; z-index: 4; }

@media screen and (min-width: 900px) and (max-width: 1199px) { .forstudent-block__en { font-size: 3.3vw; } }

@media screen and (max-width: 899px) { .forstudent-block__en { font-size: 8vw; } }

.forstudent-block__ja { font-size: 24px; position: absolute; top: 71%; font-weight: 700; z-index: 4; color: #404040; }

@media screen and (min-width: 900px) and (max-width: 1199px) { .forstudent-block__ja { font-size: 2vw; color: #404040; } }

@media screen and (max-width: 899px) { .forstudent-block__ja { font-size: 4.8vw; color: #404040; } }

.forstudent-block__bar { width: 100%; height: 4px; background-color: #404040; }

.forstudent { padding: 100px 0 100px 0; }

@media screen and (max-width: 899px) { .forstudent { padding: 60px 0 60px 0; } }

/*# sourceMappingURL=style.css.map */