%trial-info-elem-block-list-tags-left,.trial-info-elem-block-list-tags-left{
  &__eventdate{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 60px;
  }
  &__eventdateyear{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 24px;
    margin-left: 12px;
  }
}
