%record-result,.record-result{
  padding: 100px 0 100px 0;
  background-color: #EFEFEF;
  @media screen and (max-width:899px) {
    padding: 60px 0 60px 0;
  }
}


%jfsa-cup-photos,.jfsa-cup-photos{
  padding: 100px 0 100px 0;
  @media screen and (max-width:899px) {
    padding: 60px 0 60px 0;
  }
}


%jfsa-cup-q-a,.jfsa-cup-q-a{
  padding: 100px 0 100px 0;
  background-color: #EFEFEF;
  @media screen and (max-width:899px) {
    padding: 60px 0 60px 0;
  }
}
