*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: Hiragino Sans;
  color: #04111C;
  -webkit-overflow-scrolling: touch;
}

body{
  background-color: #F6F6F6;
  overflow-y: scroll;
}
