* { margin: 0; padding: 0; box-sizing: border-box; font-family: Hiragino Sans; color: #04111C; font-size: 16px; letter-spacing: 0.05em; line-height: 1.5; }

@media screen and (max-width: 899px) { * { font-size: 14px; } }

body { background-color: #F6F6F6; overflow-y: scroll; }

.block-name { margin-left: 80px; }

@media screen and (max-width: 899px) { .block-name { margin-left: 2%; } }

.block-name__en { font-family: 'Didact Gothic', sans-serif; font-size: 60px; }

@media screen and (max-width: 899px) { .block-name__en { font-size: 2rem; } }

.block-name__ja { margin-bottom: 16px; }

@media screen and (max-width: 899px) { .block-name__ja { margin-bottom: 2vw; } }

.block-name__bar { width: 60px; height: 2px; background-color: #04111C; }

.button { display: flex; flex-direction: row; justify-content: center; align-items: center; width: 200px; height: 40px; background-color: #1F3741; border-radius: 24px; text-decoration: none; }

@media screen and (max-width: 899px) { .button { width: 160px; height: 32px; } }

.button__text { color: #F6F6F6; font-family: 'Didact Gothic', sans-serif; font-size: 20px; text-align: center; }

@media screen and (max-width: 899px) { .button__text { font-size: 14px; } }

.button__arrow { font-size: 16px; color: #F6F6F6; margin-left: 16px; -webkit-transition: all .3s; transition: all .3s; }

@media screen and (max-width: 899px) { .button__arrow { font-size: 12px; } }

.button:hover > .button__arrow { margin-left: 24px; }

.circle-mark { font-size: 16px; color: #8BE043; }

.circle-mark--train { color: #6AABF7; font-size: 16px; }

.circle-mark--race { color: #E07F43; font-size: 16px; }

.page-discription-img { width: 660px; height: 400px; position: relative; right: 0; }

@media screen and (max-width: 899px) { .page-discription-img { width: 100%; height: 50%; } }

.page-discription-img__img { width: 100%; height: 100%; object-fit: cover; }

@media screen and (max-width: 899px) { .page-discription-img__img { height: 48vw; } }

.page-discription-img__cover, .page-discription-img__cover--left { width: 20%; height: 100%; background-color: #F6F6F6; opacity: 0.5; position: absolute; top: 0; right: 0; }

@media screen and (min-width: 900px) and (max-width: 1119px) { .page-discription-img__cover, .page-discription-img__cover--left { width: calc(20% + (1120px - 100vw)); } }

@media screen and (max-width: 899px) { .page-discription-img__cover, .page-discription-img__cover--left { display: none; } }

.page-discription-img__cover--left { left: 0; order: 1; }

.page-discription-p, .page-discription-p--left { margin: 180px 0 0 -60px; width: 560px; position: relative; z-index: 3; }

@media screen and (min-width: 900px) and (max-width: 1119px) { .page-discription-p, .page-discription-p--left { margin: 180px 0 0 calc(-60px - (1120px - 100vw)); } }

@media screen and (max-width: 899px) { .page-discription-p, .page-discription-p--left { width: 100%; margin: 40px 0 0 0; } }

.page-discription-p--left { margin: 180px -60px 0 0; }

@media screen and (min-width: 900px) and (max-width: 1119px) { .page-discription-p--left { margin: 180px calc(-60px - (1120px - 100vw)) 0 0; } }

@media screen and (max-width: 899px) { .page-discription-p--left { width: 100%; margin: 40px 0 0 0; order: 2; } }

.page-discription-p__title, .page-discription-p__title--left { font-size: 40px; }

@media screen and (max-width: 549px) { .page-discription-p__title, .page-discription-p__title--left { font-size: 5.8vw; } }

.page-discription-p__title--left { padding: 0 0 0 40px; }

@media screen and (max-width: 899px) { .page-discription-p__title--left { padding: 0 0 0 0; } }

.page-discription-p__ja, .page-discription-p__ja--left { margin-top: 8px; padding: 0 40px 60px 0; position: relative; }

.page-discription-p__ja--left { padding: 0 0 60px 40px; }

@media screen and (max-width: 899px) { .page-discription-p__ja--left { padding: 0 40px 60px 0; } }

.page-discription-p__bottom, .page-discription-p__bottom--left { width: 200px; position: absolute; bottom: 0; right: 0; z-index: -1; }

.page-discription-p__bottom--left { left: 0; transform: scale(-1, 1); }

@media screen and (max-width: 899px) { .page-discription-p__bottom--left { left: auto; transform: scale(1, 1); position: absolute; bottom: 0; right: 0; } }

.page-discription { margin: 100px auto 100px auto; width: 1120px; display: flex; }

@media screen and (min-width: 900px) and (max-width: 1166px) { .page-discription { width: 96%; margin: 100px 2% 100px 2%; } }

@media screen and (max-width: 899px) { .page-discription { width: 96%; flex-flow: column; justify-content: center; align-items: center; } }

.page-topimg { width: 100%; height: 500px; position: relative; display: flex; justify-content: center; }

@media screen and (max-width: 899px) { .page-topimg { height: 50vh; } }

@media screen and (max-width: 549px) { .page-topimg { height: 70vw; } }

.page-topimg__img { width: 100%; height: 100%; object-fit: cover; }

.page-topimg__cover { width: 100%; height: 100%; background-color: #F6F6F6; opacity: 0.5; position: absolute; top: 0; }

.page-topimg__en { font-family: 'Didact Gothic', sans-serif; font-size: 4rem; position: absolute; top: 40%; }

@media screen and (max-width: 549px) { .page-topimg__en { top: 30vw; font-size: 2.4rem; } }

.page-topimg__ja { font-size: 1.4rem; position: absolute; top: 68%; }

@media screen and (max-width: 549px) { .page-topimg__ja { top: 50vw; font-size: 1.2rem; } }

.page-topimg__bar { width: 100%; height: 4px; background-color: #04111C; }

@media screen and (max-width: 899px) { .page-topimg__bar { height: 2px; } }

.page-trans-img { width: 600px; height: 300px; position: relative; right: 0; }

@media screen and (max-width: 899px) { .page-trans-img { width: 100%; height: 50%; } }

.page-trans-img__img { object-fit: cover; width: 600px; height: 300px; }

@media screen and (max-width: 899px) { .page-trans-img__img { width: 100%; height: 46vw; } }

.page-trans-img__cover { width: 20%; height: 100%; background-color: #F6F6F6; opacity: 0.5; position: absolute; top: 0; right: 0; }

@media screen and (min-width: 900px) and (max-width: 1160px) { .page-trans-img__cover { width: calc(20% + (1160px - 100vw)); } }

@media screen and (max-width: 899px) { .page-trans-img__cover { display: none; } }

.page-trans-p { margin: 180px 0 0 -60px; width: 560px; position: relative; z-index: 3; }

@media screen and (min-width: 900px) and (max-width: 1159px) { .page-trans-p { margin: 180px 0 0 calc(-60px - (1160px - 100vw)); } }

@media screen and (max-width: 899px) { .page-trans-p { width: 100%; margin: 16px 0 0 0; } }

.page-trans-p__title { font-size: 1.6rem; }

.page-trans-p__ja { margin-top: 8px; padding: 0 40px 60px 0; position: relative; }

.page-trans-p__bottom { position: absolute; bottom: 0; right: 2rem; }

.page-trans { margin: 50px auto 50px auto; width: 1080px; display: flex; }

@media screen and (min-width: 1160px) and (max-width: 1239px) { .page-trans { margin: 50px auto 50px 80px; } }

@media screen and (min-width: 900px) and (max-width: 1159px) { .page-trans { width: calc(100vw - 80px); margin: 50px auto 50px 80px; } }

@media screen and (max-width: 899px) { .page-trans { width: 96%; flex-flow: column; justify-content: center; align-items: center; } }

.pagination { display: flex; justify-content: center; align-items: center; margin-top: 60px; column-gap: 2%; }

@media screen and (max-width: 899px) { .pagination { column-gap: 4%; } }

.pagination__first, .pagination__last, .pagination__next, .pagination__pre { font-size: 1.4rem; opacity: 0.5; }

.pagination__num { font-weight: 700; align-self: center; opacity: 0.5; }

.q-a-list { display: inline-block; margin-top: 60px; }

.q-a-list:nth-of-type(even) { display: block; text-align: right; }

@media screen and (max-width: 899px) { .q-a-list:nth-of-type(even) { display: inline-block; text-align: left; } }

.q-a-list__btn { margin: 20px 20px 0 auto; }

.q-a-list-answer { display: flex; justify-content: flex-end; margin-top: 12px; text-align: left; }

@media screen and (max-width: 899px) { .q-a-list-answer { margin-top: 2vw; } }

.q-a-list-answer__a { font-size: 32px; margin-right: 32px; }

@media screen and (max-width: 899px) { .q-a-list-answer__a { font-size: 18px; margin-right: 5vw; } }

.q-a-list-answer__p { width: 560px; margin-top: 18px; }

@media screen and (max-width: 899px) { .q-a-list-answer__p { width: 85vw; margin-top: 9px; } }

.q-a-list-question { display: flex; justify-content: flex-end; margin-top: 16px; text-align: left; }

@media screen and (max-width: 899px) { .q-a-list-question { margin-top: 2.5vw; } }

.q-a-list-question__q { font-size: 32px; margin-right: 32px; }

@media screen and (max-width: 899px) { .q-a-list-question__q { font-size: 18px; margin-right: 5vw; } }

.q-a-list-question__p { width: 560px; margin-top: 18px; font-weight: 560; }

@media screen and (max-width: 899px) { .q-a-list-question__p { width: 85vw; margin-top: 9px; } }

.q-a-block { margin: 0 80px 0 80px; }

@media screen and (max-width: 899px) { .q-a-block { margin: 0 2% 0 2%; } }

.calendar-exp { display: flex; flex-wrap: wrap; align-items: center; width: 6rem; }

@media screen and (max-width: 899px) { .calendar-exp { width: 7rem; } }

.calendar-exp__mark { margin-right: 24px; }

.calendar, .calendar__falday, .calendar__truday, .calendar__week, .calendar__month, .calendar__block { font-family: 'Didact Gothic', sans-serif; text-align: center; width: 640px; }

@media screen and (max-width: 639px) { .calendar, .calendar__falday, .calendar__truday, .calendar__week, .calendar__month, .calendar__block { width: 80%; } }

.calendar__block { width: 560px; height: 420px; margin: 0 auto; border-top: solid  2px; border-bottom: solid 2px; }

@media screen and (max-width: 639px) { .calendar__block { width: 100%; height: 100vw; } }

.calendar__month { font-size: 1.6rem; width: auto; vertical-align: top; }

.calendar__week { color: #646464; width: auto; vertical-align: top; padding: 16px 0 16px 0; }

.calendar__truday { width: auto; vertical-align: top; }

.calendar__falday { color: #8e8e8e; width: auto; vertical-align: top; }

.page-transition { display: flex; flex-wrap: wrap; width: 468px; align-items: center; justify-content: space-between; margin: 40px 0 -16px 0; }

@media screen and (min-width: 500px) and (max-width: 1268px) { .page-transition { width: 468px; margin: 40px 0 -16px 0; } }

@media screen and (max-width: 499px) { .page-transition { width: 100%; margin: 40px 0 -16px 0; } }

.page-transition__btn { margin-bottom: 16px; }

@media screen and (max-width: 499px) { .page-transition__btn { margin-left: auto; } }

.page-transition__p { margin-bottom: 16px; width: 16rem; }

@media screen and (min-width: 900px) and (max-width: 1079px) { .page-transition__p { margin-bottom: 4px; } }

@media screen and (max-width: 99px) { .page-transition__p { margin-bottom: 4px; } }

.schedule-block { display: flex; justify-content: center; align-items: center; }

@media screen and (max-width: 1268px) { .schedule-block { flex-flow: column; margin-top: 40px; } }

.schedule-exp { display: flex; flex-flow: column; margin: 60px 0 0 40px; }

@media screen and (max-width: 1268px) { .schedule-exp { justify-content: center; margin: 8px 10% 0 10%; } }

.schedule-exp__p { width: 340px; padding-top: 40px; }

@media screen and (max-width: 549px) { .schedule-exp__p { width: 80%; padding-top: 16px; } }

.schedule { padding: 100px 0 100px 0; background-color: #EFEFEF; }

@media screen and (max-width: 899px) { .schedule { width: 100%; padding: 60px 0 60px 0; } }

.footer-left, .footer-left__upname, .footer-left__jfname, .footer-left__saname { font-family: 'Didact Gothic', sans-serif; font-size: 60px; color: #F6F6F6; margin-left: 10%; }

.footer-left__upname, .footer-left__jfname, .footer-left__saname { margin-left: 0%; }

@media screen and (max-width: 549px) { .footer-left__upname, .footer-left__jfname, .footer-left__saname { font-size: 11vw; } }

.footer-left__jfname, .footer-left__saname { font-size: 24px; }

@media screen and (max-width: 549px) { .footer-left__jfname, .footer-left__saname { font-size: 4.4vw; } }

@media screen and (max-width: 549px) { .footer-left__saname { font-size: 4.4vw; } }

.footer-menu { display: flex; flex-wrap: wrap; justify-content: center; text-align: center; }

@media screen and (max-width: 549px) { .footer-menu { justify-content: flex-end; } }

.footer-menu__list { margin-left: 12px; font-size: 12px; color: #F6F6F6; }

.footer-right { text-align: right; margin-right: 10%; }

.footer-right__mail { margin-top: 8px; font-family: 'Didact Gothic', sans-serif; color: #F6F6F6; }

.footer-sns { margin-top: 8px; display: flex; flex-wrap: wrap; justify-content: flex-end; }

.footer-sns__list { color: #F6F6F6; font-size: 32px; margin-left: 24px; }

.footer { display: flex; justify-content: space-between; width: 100%; height: 240px; background-color: #1F3741; align-items: center; }

.header, .header__name { height: 60px; line-height: 60px; position: fixed; top: 0px; left: 0px; width: 100%; z-index: 100; background-color: #1F3741; }

.header__name { padding-left: 5%; letter-spacing: 4px; font-family: 'Didact Gothic', sans-serif; font-size: 32px; color: #F6F6F6; box-sizing: border-box; }

.navi { display: block; }

.navi__global { position: fixed; width: 300px; top: 0; right: -300px; background-color: rgba(33, 33, 33, 0.9); height: 100%; padding-top: 60px; }

.navi__list { margin-top: 1rem; list-style: none; }

.navi__list-elem { width: 100%; height: 40px; }

.navi__list-name, .navi__list-name--sub { color: #F6F6F6; padding-left: 20px; text-decoration: none; display: block; }

.navi__list-name--sub { padding-left: 60px; }

.navi__btn { position: fixed; top: 20px; right: 40px; width: 30px; height: 24px; z-index: 100; cursor: pointer; transition: all 400ms; -webkit-transition: all 400ms; }

.navi__btn span { position: absolute; width: 30px; height: 4px; background: #F6F6F6; border-radius: 10px; -webkit-transition: all 400ms; transition: all 400ms; }

.navi__btn span:nth-child(1) { top: 0; }

.navi__btn span:nth-child(2) { top: 10px; }

.navi__btn span:nth-child(3) { top: 20px; }

.navi__btn.hb-open { transform: rotate(180deg); -webkit-transform: rotate(180deg); }

.navi__btn.hb-open span { background: #fff; }

.navi__btn.hb-open span:nth-child(1) { width: 24px; transform: translate(-7px, 17px) rotate(45deg); -webkit-transform: translate(-7px, 17px) rotate(45deg); }

.navi__btn.hb-open span:nth-child(3) { width: 24px; transform: translate(-7px, -17px) rotate(-45deg); -webkit-transform: translate(-7px, -17px) rotate(-45deg); }

/*# sourceMappingURL=style.css.map */