{% extends 'app/page-layout.html' %}
{% load static %}


{% block title %}FINSWIMMING{% endblock %}
{% block css %}{% static 'app/css/about-jfsa.css' %}{% endblock %}

{% block page_top_img %}{% static 'app/img/trial1.jpg' %}{% endblock %}
{% block page_title %}FINSWIMMING{% endblock %}
{% block page_minititle %}フィンスイミングについて{% endblock %}

{% block body_detail %}
<div class="block_space"></div>
<div class="race_schedule">
  <p class="race_schedule_title">JFSA</p>
  <div class="race_schedule_bar"></div>
  <div class="trial_description">
    <img src="{% static 'app/img/trial2.png' %}" class="trial_img1">
    <div class="description1">
      <div class="description_cover"></div>
      <div class="triangle_upper_right"></div>
      <div class="triangle_lower_left"></div>
      <p class="description_title">
        題名をここに入力
      </p>
      <p class="description_text">
        JFSA；Japan Finswimming Student Association<br>
    since Nov. 22, 2019<br><br>

    JFSAは、<b>『学生フィンスイミング界の発展と交流』</b>を目的とした、大学生・大学院生および専門学生によって構成される組織です。<br>
    主な活動内容としては、<b>練習会を定期的に開催</b>して練習場所を提供したり、<b>記録会を企画・運営</b>して、実戦と交流の機会を設けたりしています。<br>
    また、競技者や練習拠点地を全国に広げるための<b>普及活動</b>にも積極的に取り組み、
    <b>フィンスイミングをマイナースポーツからメジャースポーツに</b>するために尽力しています。

      </p>
    </div>
  </div>
</div>
<div class="race_schedule">
  <p class="race_schedule_title">JFSA ORGANIZATION</p>
  <div class="race_schedule_bar"></div>
  <div class="trial_description">
    <img src="{% static 'app/img/trial2.png' %}" class="trial_img1">
    <div class="description1">
      <div class="description_cover"></div>
      <div class="triangle_upper_right"></div>
      <div class="triangle_lower_left"></div>
      <p class="description_title">
        執行委員会
      </p>
      <p class="description_text">
        お試しの文章が入ってますが、
        今後トレーニングに関する文章に変わる予定でえす。
        お試しの文章が入ってますが、今後トレーニングに関する文章に変わる予定でえす。
        お試しの文章が入ってますが、今後トレーニングに関する文章に変わる予定でえす。
        今気づいたけど結構な文章量入ります。ここまででも約140文字。
      </p>
    </div>
  </div>
  <div class="org_miniblock"></div>
  <div class="trial_description">
    <img src="{% static 'app/img/trial2.png' %}" class="trial_img2">
    <div class="description2">
      <div class="description_cover"></div>
      <div class="triangle_upper_right"></div>
      <div class="triangle_lower_left"></div>
      <p class="description_title">
        大会実行委員会
      </p>
      <p class="description_text">
        大会実行委員会は、学生記録会の企画・運営をしています。<br>
  新人戦・プレインカレと年2回開催して実戦の機会を設けるとともに、学生間も交流を生み出すためにイベント種目も実施し、
  学生のニーズに合わせた記録会を企画しています。

      </p>
    </div>
  </div>
  <div class="org_miniblock"></div>
  <div class="trial_description">
    <img src="{% static 'app/img/trial2.png' %}" class="trial_img1">
    <div class="description1">
      <div class="description_cover"></div>
      <div class="triangle_upper_right"></div>
      <div class="triangle_lower_left"></div>
      <p class="description_title">
        普及委員会
      </p>
      <p class="description_text">
        フィンスイミングをメジャースポーツへ<br>
  普及委員会はフィンスイミングの普及を目指し、体験会や高校訪問を企画・運営しています。

      </p>
    </div>
  </div>
  <div class="org_miniblock"></div>
  <div class="trial_description">
    <img src="{% static 'app/img/trial2.png' %}" class="trial_img2">
    <div class="description2">
      <div class="description_cover"></div>
      <div class="triangle_upper_right"></div>
      <div class="triangle_lower_left"></div>
      <p class="description_title">
        強化委員会
      </p>
      <p class="description_text">
        強化委員会は学生練習会や学生合宿を企画・運営する部門です。<br>
  春には強化合宿、夏には大学1・2年生を対象として学生間の交流を創出する新人合宿を企画しています。

      </p>
    </div>
  </div>
</div>
<div class="race_schedule">
  <p class="race_schedule_title">JFSA MEMBER</p>
  <div class="race_schedule_bar"></div>
  <div class="jfsa_members_all">
    {% for member in members %}
    <div class="member">
      <img class="member_thumnail" src="{{member.image.url}}" width=160>
      <p class="member_name_romaji">{{member.name_romaji}}</p>
      <p class="member_name">{{member.name}}</p>
      <p class="member_college">大学：{{member.college.short_name}}</p>
      <p class="member_position">役職：{{member.position.name}}</p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock　%}
