{% extends 'app/page-layout.html' %}
{% load static %}
{% load sass_tags %}


{% block title %}About{% endblock %}
{% block a %}{% sass_src 'app/scss/page/about/style.scss' %}{% endblock %}


{% block page_title %}About{% endblock %}
{% block page_minititle %}フィンスイミングのあれこれ{% endblock %}


{% block body_detail %}
  <section class="about-info">
    <div class="block-name">
      <p class="block-name__en">About</p>
      <p class="block-name__ja">私たちについて</p>
      <div class="block-name__bar"></div>
    </div>
    <div class="page-trans">
      <div class="page-trans-img">
        <img src="https://res.cloudinary.com/hzvuiry8d/image/upload/v1646377828/jfsa_site_main/aboutfin_agqxiy.png" class="page-trans-img__img" alt="img">
        <div class="page-trans-img__cover"></div>
      </div>
      <div class="page-trans-p">
        <p class="page-trans-p__title">フィンスイミングについて</p>
        <div class="page-trans-p__ja">
          フィンスイミングはどういう競技なんだろう？そんな疑問に応えるために、種目や道具を説明しています。Youtubeの動画もあるので、ぜひ見てみてください！
        </div>
        <a class="button page-trans-p__bottom" href="{% url 'about_finswimming' %}">
          <div class="button__text">Veiw more</div>
          <i class="fas fa-arrow-right button__arrow"></i>
        </a>
      </div>
    </div>
    <div class="page-trans">
      <div class="page-trans-img">
        <img src="https://res.cloudinary.com/hzvuiry8d/image/upload/v1646377827/jfsa_site_main/jfsa-mem_rvpfhm.png" class="page-trans-img__img" alt="img">
        <div class="page-trans-img__cover"></div>
      </div>
      <div class="page-trans-p">
        <p class="page-trans-p__title">JFSAについて</p>
        <div class="page-trans-p__ja">
          日本学生フィンスイミング連合（JFSA）について説明しています。2019年11月に設立してから、誰もがフィンスイミングができる環境づくりを目指して活動しています。
        </div>
        <a class="button page-trans-p__bottom" href="{% url 'about_jfsa' %}">
          <div class="button__text">Veiw more</div>
          <i class="fas fa-arrow-right button__arrow"></i>
        </a>
      </div>
    </div>
  </section>


  {% endblock %}
