{% extends 'app/page-layout.html' %}
{% load static %}
{% load sass_tags %}


{% block title %}JFSA{% endblock %}
{% block a %}{% sass_src 'app/scss/page/about-jfsa/style.scss' %}{% endblock %}


{% block page_title %}JFSA{% endblock %}
{% block page_minititle %}日本フィンスイミング学生連合について{% endblock %}


{% block body_detail %}
<section class="jfsa-intro">
  <div class="block-name">
    <p class="block-name__en">JFSA</p>
    <p class="block-name__ja">日本フィンスイミング学生連合</p>
    <div class="block-name__bar"></div>
  </div>
  <div class="jfsa-intro-block">
    <img src="{% static 'app/img/trial.png' %}" class="jfsa-intro-block__img" alt="img">
    <div class="jfsa-intro-text">
      <p class="jfsa-intro-text__name">日本フィンスイミング学生連合</p>
      <p class="jfsa-intro-text__en">JFSA: Japan Finswimming Student Association</p>
      <p class="jfsa-intro-text__since">since Nov. 22, 2019</p>
      <p class="jfsa-intro-text__detail">
        JFSAは、『学生フィンスイミング界の発展と交流』を目的とした、大学生・大学院生および専門学生によって構成される組織です。<br>主な活動内容としては、練習会を定期的に開催して練習場所を提供したり、記録会を企画・運営して、実戦と交流の機会を設けたりしています。また、競技者や練習拠点地を全国に広げるための普及活動にも積極的に取り組み、誰もがフィンスイミングができる環境づくりを目指して活動しています。
      </p>
    </div>
  </div>
</section>

<section class="committee">
  <div class="block-name">
    <p class="block-name__en">What we do</p>
    <p class="block-name__ja">各委員会の取り組み</p>
    <div class="block-name__bar"></div>
  </div>
  <div class="committee-block">
    <img src="{% static 'app/img/trial.png' %}" class="committee-block__img" alt="img">
    <div class="committee-text">
      <div class="committee-text-elem">
        <p class="committee-text-elem__name">大会実行委員会</p>
        <p class="committee-text-elem__detail">
          大会実行委員会は、学生記録会の企画・運営をしています。新人戦・プレインカレと年2回開催して実戦の機会をつくるとともに、学生間の交流を生み出すためにイベント種目も実施！学生ならではの記録会を企画します。
        </p>
      </div>
      <div class="committee-text-elem">
        <p class="committee-text-elem__name">大会実行委員会</p>
        <p class="committee-text-elem__detail">
          大会実行委員会は、学生記録会の企画・運営をしています。新人戦・プレインカレと年2回開催して実戦の機会をつくるとともに、学生間の交流を生み出すためにイベント種目も実施！学生ならではの記録会を企画します。
        </p>
      </div>
      <div class="committee-text-elem">
        <p class="committee-text-elem__name">大会実行委員会</p>
        <p class="committee-text-elem__detail">
          大会実行委員会は、学生記録会の企画・運営をしています。新人戦・プレインカレと年2回開催して実戦の機会をつくるとともに、学生間の交流を生み出すためにイベント種目も実施！学生ならではの記録会を企画します。
        </p>
      </div>
      <div class="committee-text-elem">
        <p class="committee-text-elem__name">大会実行委員会</p>
        <p class="committee-text-elem__detail">
          大会実行委員会は、学生記録会の企画・運営をしています。新人戦・プレインカレと年2回開催して実戦の機会をつくるとともに、学生間の交流を生み出すためにイベント種目も実施！学生ならではの記録会を企画します。
        </p>
      </div>
    </div>
  </div>
</section>

<section class="member">
  <div class="block-name">
    <p class="block-name__en">Member</p>
    <p class="block-name__ja">JFSAで活躍するメンバー</p>
    <div class="block-name__bar"></div>
  </div>
  <div class="member-block">
    {% for member in members %}
    <div class="member-elem">
      <img src="{{member.image.url}}" class="member-elem__img">
      <p class="member-elem__name">{{member.name}}</p>
      <p class="member-elem__en">{{member.name_romaji}}</p>
      <p class="member-elem__position">役職：{{member.position.name}}</p>
      <p class="member-elem__college">所属チーム：{{member.college.short_name}}</p>
    </div>
    {% endfor %}
  </div>
</section>







  {% endblock %}
