{% extends 'app/page-layout.html' %}
{% load static %}


{% block title %}FINSWIMMING{% endblock %}
{% block css %}{% static 'app/css/about-fin.css' %}{% endblock %}

{% block page_top_img %}{% static 'app/img/trial1.jpg' %}{% endblock %}
{% block page_title %}FINSWIMMING{% endblock %}
{% block page_minititle %}フィンスイミングについて{% endblock %}

{% block body_detail %}
<div class="block_space"></div>
<div class="race_schedule">
  <p class="race_schedule_title">FINSWMMING</p>
  <div class="race_schedule_bar"></div>
  <div class="trial_description">
    <img src="{% static 'app/img/trial2.png' %}" class="trial_img1">
    <div class="description1">
      <div class="description_cover"></div>
      <div class="triangle_upper_right"></div>
      <div class="triangle_lower_left"></div>
      <p class="description_title">
        題名をここに入力
      </p>
      <p class="description_text">
        お試しの文章が入ってますが、
        今後トレーニングに関する文章に変わる予定でえす。
        お試しの文章が入ってますが、今後トレーニングに関する文章に変わる予定でえす。
        お試しの文章が入ってますが、今後トレーニングに関する文章に変わる予定でえす。
        今気づいたけど結構な文章量入ります。ここまででも約140文字。
      </p>
    </div>
  </div>
</div>
<div class="block_space"></div>
<div class="style_block">
  <p class="race_schedule_title">STYLE</p>
  <div class="race_schedule_bar"></div>
  <div class="apnea">
    <div class="aboutfin_triangle"></div>
    <img class="style_thumnail" src="{% static 'app/img/home5.png' %}" width=360 height=180>
    <p class="style_shortname">AP</p>
    <p class="style_description">
      お試しの文章です。お試しの文章です。お試しの文章です。
      お試しの文章です。お試しの文章です。お試しの文章です。
      お試しの文章です。お試しの文章です。お試しの文章です。
    </p>
    <div class="button1">
      <div class="eff-1"></div>
      <a href="#">MOVIE</a>
    </div>
  </div>
  <div class="surface">
    <div class="aboutfin_triangle"></div>
    <img class="style_thumnail" src="{% static 'app/img/home5.png' %}" width=360 height=180>
    <p class="style_shortname">SF</p>
    <p class="style_description">
      お試しの文章です。お試しの文章です。お試しの文章です。
      お試しの文章です。お試しの文章です。お試しの文章です。
      お試しの文章です。お試しの文章です。お試しの文章です。
    </p>
    <div class="button1">
      <div class="eff-1"></div>
      <a href="#">MOVIE</a>
    </div>
  </div>
  <div class="bifin">
    <div class="aboutfin_triangle"></div>
    <img class="style_thumnail" src="{% static 'app/img/home5.png' %}" width=360 height=180>
    <p class="style_shortname">BF</p>
    <p class="style_description">
      お試しの文章です。お試しの文章です。お試しの文章です。
      お試しの文章です。お試しの文章です。お試しの文章です。
      お試しの文章です。お試しの文章です。お試しの文章です。
    </p>
    <div class="button1">
      <div class="eff-1"></div>
      <a href="#">MOVIE</a>
    </div>
  </div>
  <div class="immersion">
    <div class="aboutfin_triangle"></div>
    <img class="style_thumnail" src="{% static 'app/img/home5.png' %}" width=360 height=180>
    <p class="style_shortname">IM</p>
    <p class="style_description">
      お試しの文章です。お試しの文章です。お試しの文章です。
      お試しの文章です。お試しの文章です。お試しの文章です。
      お試しの文章です。お試しの文章です。お試しの文章です。
    </p>
    <div class="button1">
      <div class="eff-1"></div>
      <a href="#">MOVIE</a>
    </div>
  </div>
</div>
<div class="block_space"></div>
<div class="tool_block">
  <p class="race_schedule_title">TOOL</p>
  <div class="race_schedule_bar"></div>
  <div class="monofin">
    <div class="aboutfin_triangle"></div>
    <img class="tool_thumnail" src="{% static 'app/img/home5.png' %}" width=360 height=180>
    <p class="tool_shortname">Mono Fin</p>
    <p class="tool_name">モノフィン</p>
    <p class="tool_description">
      お試しの文章です。お試しの文章です。お試しの文章です。
      お試しの文章です。お試しの文章です。お試しの文章です。
      お試しの文章です。お試しの文章です。お試しの文章です。
    </p>
  </div>
  <div class="bifin_tool">
    <div class="aboutfin_triangle"></div>
    <img class="tool_thumnail" src="{% static 'app/img/home5.png' %}" width=360 height=180>
    <p class="tool_shortname">Bi Fin</p>
    <p class="tool_name">ビーフィン</p>
    <p class="tool_description">
      お試しの文章です。お試しの文章です。お試しの文章です。
      お試しの文章です。お試しの文章です。お試しの文章です。
      お試しの文章です。お試しの文章です。お試しの文章です。
    </p>
  </div>
  <div class="sunokel">
    <div class="aboutfin_triangle"></div>
    <img class="tool_thumnail" src="{% static 'app/img/home5.png' %}" width=360 height=180>
    <p class="tool_shortname">Bi Fin</p>
    <p class="tool_name">ビーフィン</p>
    <p class="tool_description">
      お試しの文章です。お試しの文章です。お試しの文章です。
      お試しの文章です。お試しの文章です。お試しの文章です。
      お試しの文章です。お試しの文章です。お試しの文章です。
    </p>
  </div>
</div>

<div class="block_space"></div>

<div class="fin_qa_block">
  <p class="race_schedule_title">FINSWMMING Q&A</p>
  <div class="race_schedule_bar"></div>
  <div class="cp_qa">
    <div class="cp_actab">
    <input id="cp_tabfour011" type="checkbox" name="tabs">
    <label for="cp_tabfour011">フィンスイミングができる大学はどのくらいある？</label>
    <div class="cp_actab-content">
      <p>お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
        お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
        お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
        お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
　　　</p>
    </div>
    </div>

    <div class="cp_actab">
    <input id="cp_tabfour012" type="checkbox" name="tabs">
    <label for="cp_tabfour012">大学で1人でも、インカレに出場できる？</label>
    <div class="cp_actab-content">
      <p>お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
        お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
        お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
        お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示され
      </p>
    </div>
    </div>

    <div class="cp_actab">
    <input id="cp_tabfour013" type="checkbox" name="tabs">
    <label for="cp_tabfour013">地方でもフィンスイミングはできる？</label>
    <div class="cp_actab-content">
      <p>お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
        お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
        お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
        お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示され
      </p>
    </div>
    </div>

    <div class="cp_actab">
    <input id="cp_tabfour014" type="checkbox" name="tabs">
    <label for="cp_tabfour014">地方でもフィンスイミングはできる？</label>
    <div class="cp_actab-content">
      <p>お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
        お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
        お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
        お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示され
      </p>
    </div>
    </div>

    <div class="cp_actab">
    <input id="cp_tabfour015" type="checkbox" name="tabs">
    <label for="cp_tabfour015">地方でもフィンスイミングはできる？</label>
    <div class="cp_actab-content">
      <p>お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
        お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
        お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
        お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示され
      </p>
    </div>
    </div>

  </div>
</div>
{% endblock　%}
