{% extends 'app/page-layout.html' %}
{% load static %}
{% load sass_tags %}


{% block title %}Finswimming{% endblock %}
{% block a %}{% sass_src 'app/scss/page/about-fin/style.scss' %}{% endblock %}


{% block page_title %}Finswimming{% endblock %}
{% block page_minititle %}フィンスイミングについて{% endblock %}


{% block body_detail %}
<section class="page-discription">
  <div class="page-discription-img">
    <img src="{% static 'app/img/trial.png' %}" class="page-discription-img__img" alt="img">
    <div class="page-discription-img__cover"></div>
  </div>
  <div class="page-discription-p">
    <p class="page-discription-p__title">学生フィンを盛り上げよう</p>
    <div class="page-discription-p__ja">
      学生記録会は、企画から運営まで全て学生が行う、学生のための記録会です。新人戦・プレインカレと題して年間２回開催され、他大学の選手たちと競い合います。独自のルールに則って行われるため、フィンスイミングを始めたばかりの方も参加しやすい記録会となっています。さらに、他大学との交流を目的としたイベントレースも実施しており、学生全体でより一層の一体感を創り上げます。<img src="{% static 'app/img/diagonal-line.png' %}" alt="img" class="page-discription-p__bottom">
    </div>
  </div>
</section>

<section class="style">
  <div class="block-name">
    <p class="block-name__en">Style</p>
    <p class="block-name__ja">フインスイミングの種目</p>
    <div class="block-name__bar"></div>
  </div>
  <div class="style-block">
    <div class="style-elem">
      <img src="{% static 'app/img/trial.png' %}" class="style-elem__img" alt="img">
      <div class="style-elem-name">
        <p class="style-elem-name__en">AP</p>
        <p class="style-elem-name__ja">アプニア</p>
      </div>
      <p class="style-elem__text">
        モノフィン*のみを装着し、水中を無呼吸で泳ぎ切る種目。距離は50mまでしかなく、速さに特化したこの種目はまさに水中競技最速といえます。現在の50mの世界記録は13.70で、これは競泳・自由形の約1.5倍というすさまじいスピードです。
      </p>
      <a class="button style-elem__btm" href="#">
        <div class="button__text">Youtube</div>
        <i class="fas fa-arrow-right button__arrow"></i>
      </a>
    </div>
    <div class="style-elem">
      <img src="{% static 'app/img/trial.png' %}" class="style-elem__img" alt="img">
      <div class="style-elem-name">
        <p class="style-elem-name__en">AP</p>
        <p class="style-elem-name__ja">アプニア</p>
      </div>
      <p class="style-elem__text">
        モノフィン*のみを装着し、水中を無呼吸で泳ぎ切る種目。距離は50mまでしかなく、速さに特化したこの種目はまさに水中競技最速といえます。現在の50mの世界記録は13.70で、これは競泳・自由形の約1.5倍というすさまじいスピードです。
      </p>
      <a class="button style-elem__btm" href="#">
        <div class="button__text">Youtube</div>
        <i class="fas fa-arrow-right button__arrow"></i>
      </a>
    </div>
    <div class="style-elem">
      <img src="{% static 'app/img/trial.png' %}" class="style-elem__img" alt="img">
      <div class="style-elem-name">
        <p class="style-elem-name__en">AP</p>
        <p class="style-elem-name__ja">アプニア</p>
      </div>
      <p class="style-elem__text">
        モノフィン*のみを装着し、水中を無呼吸で泳ぎ切る種目。距離は50mまでしかなく、速さに特化したこの種目はまさに水中競技最速といえます。現在の50mの世界記録は13.70で、これは競泳・自由形の約1.5倍というすさまじいスピードです。
      </p>
      <a class="button style-elem__btm" href="#">
        <div class="button__text">Youtube</div>
        <i class="fas fa-arrow-right button__arrow"></i>
      </a>
    </div>
    <div class="style-elem">
      <img src="{% static 'app/img/trial.png' %}" class="style-elem__img" alt="img">
      <div class="style-elem-name">
        <p class="style-elem-name__en">AP</p>
        <p class="style-elem-name__ja">アプニア</p>
      </div>
      <p class="style-elem__text">
        モノフィン*のみを装着し、水中を無呼吸で泳ぎ切る種目。距離は50mまでしかなく、速さに特化したこの種目はまさに水中競技最速といえます。現在の50mの世界記録は13.70で、これは競泳・自由形の約1.5倍というすさまじいスピードです。
      </p>
      <a class="button style-elem__btm" href="#">
        <div class="button__text">Youtube</div>
        <i class="fas fa-arrow-right button__arrow"></i>
      </a>
    </div>
  </div>
</section>

<section class="tool">
  <div class="block-name">
    <p class="block-name__en">Tool</p>
    <p class="block-name__ja">フインスイミングで使う道具</p>
    <div class="block-name__bar"></div>
  </div>
  <div class="tool-block">
    <div class="tool-elem">
      <img src="{% static 'app/img/trial.png' %}" class="tool-elem__img" alt="img">
      <p class="tool-elem__name">モノフィン</p>
      <p class="tool-elem__size">横幅：76cm　奥行き：76cm　高さ：15cm</p>
      <p class="tool-elem__weight">重さ：4~5kg</p>
      <p class="tool-elem__mtrl">素材：ラバー / カーボン / FRP</p>
      <p class="tool-elem__detail">イルカの尾びれのような１枚の大きなフィン。両足で履いてドルフィンキックで進みます。その大きさと重さによって爆発的な推進力を生みだす反面、使いこなすには高度な技術が要求されます。北欧製のモノフィンが国内でもシェアを占め、フルオーダーメイドで作られます。</p>
    </div>
    <div class="tool-elem">
      <img src="{% static 'app/img/trial.png' %}" class="tool-elem__img" alt="img">
      <p class="tool-elem__name">モノフィン</p>
      <p class="tool-elem__size">横幅：76cm　奥行き：76cm　高さ：15cm</p>
      <p class="tool-elem__weight">重さ：4~5kg</p>
      <p class="tool-elem__mtrl">素材：ラバー / カーボン / FRP</p>
      <p class="tool-elem__detail">イルカの尾びれのような１枚の大きなフィン。両足で履いてドルフィンキックで進みます。その大きさと重さによって爆発的な推進力を生みだす反面、使いこなすには高度な技術が要求されます。北欧製のモノフィンが国内でもシェアを占め、フルオーダーメイドで作られます。</p>
    </div>
    <div class="tool-elem">
      <img src="{% static 'app/img/trial.png' %}" class="tool-elem__img" alt="img">
      <p class="tool-elem__name">モノフィン</p>
      <p class="tool-elem__size">横幅：76cm　奥行き：76cm　高さ：15cm</p>
      <p class="tool-elem__weight">重さ：4~5kg</p>
      <p class="tool-elem__mtrl">素材：ラバー / カーボン / FRP</p>
      <p class="tool-elem__detail">イルカの尾びれのような１枚の大きなフィン。両足で履いてドルフィンキックで進みます。その大きさと重さによって爆発的な推進力を生みだす反面、使いこなすには高度な技術が要求されます。北欧製のモノフィンが国内でもシェアを占め、フルオーダーメイドで作られます。</p>
    </div>
  </div>
</section>

<section class="fin-q-a">
  <div class="block-name">
    <p class="block-name__en">Finswimming Q&A</p>
    <p class="block-name__ja">フィンスイミングに関するQ&A</p>
    <div class="block-name__bar"></div>
  </div>
  <div class="q-a-block">
      <div class="q-a-list">
        <div class="q-a-list-question">
          <p class="q-a-list-question__q">Q.</p>
          <p class="q-a-list-question__p">道具はどこで購入できますか？</p>
        </div>
        <div class="q-a-list-answer">
          <p class="q-a-list-answer__a">A.</p>
          <p class="q-a-list-answer__p">
            道具は海外の業者にオーダーメイドで注文します。送料を含めるとかなり高額になるため、各チームでまとめて取り寄せます。道具が購入したい場合はお気軽にご相談ください。
          </p>
        </div>
      </div>
    <div class="q-a-list">
      <div class="q-a-list-question">
        <p class="q-a-list-question__q">Q.</p>
        <p class="q-a-list-question__p">初期費用はどのくらいですか？</p>
      </div>
      <div class="q-a-list-answer">
        <p class="q-a-list-answer__a">A.</p>
        <p class="q-a-list-answer__p">道具については、ビーフィンが約1万円、シュノーケルが約3,000円、モノフィンが約8万円となっております。学生練習会では貸出用フィンもあり、サイズ等を確認することができます。
        </p>
      </div>
    </div>
    <div class="q-a-list">
      <div class="q-a-list-question">
        <p class="q-a-list-question__q">Q.</p>
        <p class="q-a-list-question__p">フィンスイミングをどこで体験できますか？</p>
      </div>
      <div class="q-a-list-answer">
        <p class="q-a-list-answer__a">A.</p>
        <p class="q-a-list-answer__p">
          JFSAではフィンスイミング体験会を行っております。詳しくは体験会のページをご覧ください。また各クラブチームでも体験をすることができます。ご質問等あればお気軽にご連絡ください。
        </p>
      </div>
      <a class="button q-a-list__btn" href="#">
        <div class="button__text">Trial page</div>
        <i class="fas fa-arrow-right button__arrow"></i>
      </a>
    </div>
  </div>
</section>



  {% endblock %}
