{% extends 'app/page-layout.html' %}
{% load static %}
{% load sass_tags %}
{% load markdown_extras %}


{% block title %}news{% endblock %}
{% block a %}{% sass_src 'app/scss/page/news-detail/style.scss' %}{% endblock %}

{% block page_title %}NEWS{% endblock %}
{% block page_minititle %}お知らせを見る{% endblock %}

{% block body_detail %}
<section class="news-detail">
  <div class="news-detail-block">
    <p class="news-detail-block__title">{{news_detail.title}}</p>
    <div class="news-detail-titlebelow">
      <div class="news-elem-mark">
      {% for tag in news_detail.tags.all %}
        {% if tag.name == 'trial' %}
        <div class="fas fa-circle news-elem-mark__elem circle-mark"></div>
        {% elif tag.name == 'race' %}
        <div class="fas fa-circle news-elem-mark__elem circle-mark--race"></div>
        {% elif tag.name == 'training' %}
        <div class="fas fa-circle news-elem-mark__elem circle-mark--train"></div>
        {% endif %}
      {% endfor %}
      </div>
      <p class="news-detail-titlebelow__publish">{{news_detail.published_at|date:"Y.m.d"}}</p>
      <p class="news-detail-titlebelow__update">{{news_detail.updated_at|date:"Y.m.d"}}</p>
    </div>
    <img class="news-detail-block__thumnail" src="{{news_detail.thumnail.url}}">
    <div class="news-detail-block__contents">
      {{ news_detail.contents|markdown|safe }}
    </div>
  </div>

  <div class="news_page">
    {{prev.title}}
    {{next.title}}
  </div>
</section>
{% endblock %}
