{% extends 'app/page-layout.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}news{% endblock %}
{% block a %}{% sass_src 'app/scss/page/news/style.scss' %}{% endblock %}

{% block page_title %}NEWS{% endblock %}
{% block page_minititle %}お知らせを見る{% endblock %}

{% block body_detail %}
<section class="news">
  <div class="news_list">
    {% for news_post in news_posts %}
    <a class="news-elem" href="{{ news_post.get_absolute_url }}">
      <p class="news-elem__date">{{news_post.published_at|date:"Y.m.d"}}</p>
      <div class="news-elem-mark">
      {% for tag in news_post.tags.all %}
        {% if tag.name == 'trial' %}
        <div class="fas fa-circle news-elem-mark__elem circle-mark"></div>
        {% elif tag.name == 'race' %}
        <div class="fas fa-circle news-elem-mark__elem circle-mark--race"></div>
        {% elif tag.name == 'training' %}
        <div class="fas fa-circle news-elem-mark__elem circle-mark--train"></div>
        {% endif %}
      {% endfor %}
      </div>
      <p class="news-elem__title">{{news_post.title}}</p>
      <img class="news-elem__thumnail" src="{{news_post.thumnail.url}}">
    </a>
    {% endfor %}
  </div>
  <div class="pagination">
    {% if page_obj.has_previous %}
      <a href="?page=1"><i class="fas fa-step-backward pagination__first"></i></a>
      <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left pagination__pre"></i></a>
    {% endif %}
    <span class="pagination__num">
      {{page_obj.number}} / {{page_obj.paginator.num_pages}}
    </span>
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right pagination__next"></i></a>
      <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-step-forward pagination__last"></i></a>
    {% endif %}
  </div>
</section>

{% endblock %}
