{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang=ja dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/b51ecb5f42.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% sass_src 'app/scss/style.scss' %}">
    <link rel="stylesheet" type="text/css" href="{% block a %}{% endblock %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{% static 'app/js/navi.js' %}"></script>
  </head>
  <body>
    <header class="header">
      <div class="header__name">
        JFSA
      </div>
      <div class="navi">
        <p class="navi__btn">
          <span></span>
          <span></span>
          <span></span>
        </p>
        <nav class="navi__global">
          <ul class="navi__list">
            <li class="navi__list-elem"><a class="navi__list-name" href="{% url 'top' %}">> ホーム</a></li>
            <li class="navi__list-elem"><a class="navi__list-name" href="{% url 'trial' %}">> 体験する</a></li>
            <li class="navi__list-elem"><a class="navi__list-name" href="{% url 'team' %}">> チームを見る</a></li>
            <li class="navi__list-elem"><a class="navi__list-name--sub" href="{% url 'college' %}">大学チーム</a></li>
            <li class="navi__list-elem"><a class="navi__list-name--sub" href="{% url 'club' %}">クラブチーム</a></li>
            <li class="navi__list-elem"><a class="navi__list-name--sub" href="{% url 'national' %}">代表チーム</a></li>
            <li class="navi__list-elem"><a class="navi__list-name" href="{% url 'training' %}">> 練習する</a></li>
            <li class="navi__list-elem"><a class="navi__list-name--sub" href="{% url 'training_jfsa' %}">学生練習会</a></li>
            <li class="navi__list-elem"><a class="navi__list-name--sub" href="{% url 'training_story' %}">学生の練習風景</a></li>
            <li class="navi__list-elem"><a class="navi__list-name" href="{% url 'race' %}">> 試合に出る</a></li>
            <li class="navi__list-elem"><a class="navi__list-name--sub" href="{% url 'race_jfsa' %}">学生記録会</a></li>
            <li class="navi__list-elem"><a class="navi__list-name--sub" href="{% url 'race_online' %}">オンライン記録会</a></li>
            <li class="navi__list-elem"><a class="navi__list-name" href="{% url 'news' %}">> ニュースを見る</a></li>
            <li class="navi__list-elem"><a class="navi__list-name" href="{% url 'about' %}">> 私たちについて</a></li>
            <li class="navi__list-elem"><a class="navi__list-name--sub" href="{% url 'about_jfsa' %}">JFSA</a></li>
            <li class="navi__list-elem"><a class="navi__list-name--sub" href="{% url 'about_finswimming' %}">フィンスイミング</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="page-topimg">
      <img src="{% static 'app/img/page-top.jpg' %}" class="page-topimg__img" alt="img">
      <div class="page-topimg__cover"></div>
      <div class="page-topimg__en">{% block page_title %}{% endblock %}</div>
      <div class="page-topimg__ja">{% block page_minititle %}{% endblock %}<div class="page-topimg__bar"></div></div>
    </section>

{% block body_detail %}{% endblock %}

<!-- カレンダー -->
<section class="schedule">
  <div class="block-name">
    <p class="block-name__en">SCHEDULE</p>
    <p class="block-name__ja">月間スケジュール</p>
    <div class="block-name__bar"></div>
  </div>
  <div class="schedule-block">
    <div class="calendar">
      <p class="calendar__month">{{month_current.month}}</p>
      <table class="calendar__block">
        <thead>
         <tr>
           {% for w in week_names %}
            <th class="calendar__week">{{ w }}</th>
           {% endfor %}
         </tr>
       </thead>
       <tbody>
         {% for week in month_days %}
         <tr>
           {% for day in week %}
            {% if month_current.month != day.month %}
            <td class="calendar__falday">
              {{ day.day }}
            {% else %}
            <td class="calendar__truday">
              {{ day.day }}
            {% endif %}
            </td>
           {% endfor %}
         </tr>
         {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="schedule-exp">
      <div class="calendar-exp">
        <i class="fas fa-circle circle-mark calendar-exp__mark"></i>
        <p class="calendar-exp__p">体験会</p>
        <i class="fas fa-circle circle-mark--train calendar-exp__mark"></i>
        <p class="calendar-exp__p">練習会</p>
        <i class="fas fa-circle circle-mark--race calendar-exp__mark"></i>
        <p class="calendar-exp__p">試合</p>
      </div>
      <div class="schedule-exp__p">JFSAでは、フィンスイミングのイベント情報を全て掲載しています。どのイベントもどなたでも参加可能です。予定が合う日をチェックしてイベントに参加してみませんか？</div>
      <div class="page-transition">
        <div class="page-transition__p">フィンスイミングの体験会に参加</div>
        <a class="button page-transition__btn" href="#">
          <div class="button__text">Trial page</div>
          <i class="fas fa-arrow-right button__arrow"></i>
        </a>
        <div class="page-transition__p">JFSAが主催する練習会に参加</div>
        <a class="button page-transition__btn" href="#">
          <div class="button__text">Training page</div>
          <i class="fas fa-arrow-right button__arrow"></i>
        </a>
        <div class="page-transition__p">フィンスイミングの試合に参加</div>
        <a class="button page-transition__btn" href="#">
          <div class="button__text">Race page</div>
          <i class="fas fa-arrow-right button__arrow"></i>
        </a>
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="footer-left">
    <div class="footer-left__upname">JFSA</div>
    <div class="footer-left__jfname">JAPAN FINSWIMMING</div>
    <div class="footer-left__saname">STUDENT ASSOCIATION</div>
  </div>
  <div class="footer-right">
    <div class="footer-menu">
      <a class="footer-menu__list">ホーム</a>
      <a class="footer-menu__list">体験をする</a>
      <a class="footer-menu__list">チームを見る</a>
      <a class="footer-menu__list">練習をする</a>
      <a class="footer-menu__list">試合に出る</a>
      <a class="footer-menu__list">ニュースを見る</a>
      <a class="footer-menu__list">私たちについて</a>
    </div>
    <div class="footer-sns">
      <i class="fab fa-line footer-sns__list"></i>
      <i class="fab fa-instagram footer-sns__list"></i>
      <i class="fab fa-twitter-square footer-sns__list"></i>
      <i class="fab fa-youtube-square footer-sns__list"></i>
    </div>
    <div class="footer-right__mail">fin.univ.assoc@gmail.com</div>
  </div>
</footer>
</body>
</html>
