{% extends 'app/page-layout.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}JFSA CUP{% endblock %}
{% block swiper %}
<link
  rel="stylesheet"
  href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
/>
{% endblock %}
{% block a %}{% sass_src 'app/scss/page/race-jfsa/style.scss' %}{% endblock %}


{% block page_title %}JFSA CUP{% endblock %}
{% block page_minititle %}学生記録会の情報を見る{% endblock %}

{% block body_detail %}
<section class="page-discription">
  <div class="page-discription-img">
    <img src="https://res.cloudinary.com/hzvuiry8d/image/upload/v1646377828/jfsa_site_main/jfsacup_kq9iil.png" class="page-discription-img__img" alt="img">
    <div class="page-discription-img__cover"></div>
  </div>
  <div class="page-discription-p">
    <p class="page-discription-p__title">学生フィンを盛り上げよう</p>
    <div class="page-discription-p__ja">
      学生記録会は、企画から運営まで全て学生が行う、学生のための記録会です。新人戦・プレインカレと題して年間２回開催され、他大学の選手たちと競い合います。独自のルールに則って行われるため、フィンスイミングを始めたばかりの方も参加しやすい記録会となっています。さらに、他大学との交流を目的としたイベントレースも実施しており、学生全体でより一層の一体感を創り上げます。<img src="https://res.cloudinary.com/hzvuiry8d/image/upload/v1646376699/jfsa_site_main/diagonal-line2_khdecj.png" alt="img" class="page-discription-p__bottom">
    </div>
  </div>
</section>

<section class="record-result">
  <div class="block-name">
    <p class="block-name__en">Record & Result</p>
    <p class="block-name__ja">大会記録 & 歴代の結果</p>
    <div class="block-name__bar"></div>
  </div>
  <div class="record-result-main">
    <img class="record-result-main__img" src="https://res.cloudinary.com/hzvuiry8d/image/upload/v1645523335/jfsa_site_main/Icon_ionic-ios-paper_lalq9q.png">
    <div class="record-result-main__bar"></div>
    <div class="record-result-block">
      <a class="record-result-elem" href="{{ record.upload.url }}">
        <img class="record-result-elem__img" src="{% static 'app/img/trial.png' %}">
        <div class="record-result-elem__cover"></div>
        <p class="record-result-elem__p">大会記録</p>
      </a>
      {% for result in results %}
      <a class="record-result-elem" href="{{ result.upload.url }}">
        <img class="record-result-elem__img" src="{{result.thumnail.url}}">
        <div class="record-result-elem__cover"></div>
        <p class="record-result-elem__p">{{ result.display_name }}<br>大会結果</p>
      </a>
      {% endfor %}
    </div>
  </div>
</section>

<section class="jfsa-cup-photos">
  <div class="block-name">
    <p class="block-name__en">JFSA CUP photos</p>
    <p class="block-name__ja">学生記録会の様子</p>
    <div class="block-name__bar"></div>
  </div>

  <div class="swiper mySwiper jfsa-cup-photos-block">
    <div class="swiper-wrapper">
      {% for photo in photos %}
      <div class="swiper-slide jfsa-cup-photos-elem">
        <img class="jfsa-cup-photos-elem__img" src="{{photo.images.url}}">
      </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>

</section>

<section class="jfsa-cup-q-a">
  <div class="block-name">
    <p class="block-name__en">JFSA CUP Q&A</p>
    <p class="block-name__ja">学生記録会に関するQ&A</p>
    <div class="block-name__bar"></div>
  </div>
  <div class="q-a-block">
      <div class="q-a-list">
        <div class="q-a-list-question">
          <p class="q-a-list-question__q">Q.</p>
          <p class="q-a-list-question__p">学生記録会には参加資格はありますか？</p>
        </div>
        <div class="q-a-list-answer">
          <p class="q-a-list-answer__a">A.</p>
          <p class="q-a-list-answer__p">
            学生記録会は、全国の大学生・大学院生および専門学生が参加することができます。
          </p>
        </div>
      </div>
    <div class="q-a-list">
      <div class="q-a-list-question">
        <p class="q-a-list-question__q">Q.</p>
        <p class="q-a-list-question__p">学生記録会はどこで開催していますか？</p>
      </div>
      <div class="q-a-list-answer">
        <p class="q-a-list-answer__a">A.</p>
        <p class="q-a-list-answer__p">普及の観点から、フィンスイミングを行うことができるプールを増やすため、様々なプールでの大会開催を考えています。第1回、第2回では、東京の池袋にある立教大学のプールをお借りして大会を開催いたしました。できます。しかし大会に出場するためには団体登録をする必要があります。団体登録の詳細については日本水中スポーツ連盟（JUSF）のサイトをご覧ください。
        </p>
      </div>
    </div>
  </div>
</section>

<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script type="text/javascript" src="{% static 'app/js/swipe.js' %}"></script>

{% endblock %}
