{% extends 'app/page-layout.html' %}
{% load static %}
{% load sass_tags %}


{% block title %}RACE{% endblock %}
{% block a %}{% sass_src 'app/scss/page/race/style.scss' %}{% endblock %}


{% block page_title %}Race{% endblock %}
{% block page_minititle %}大会情報を探す{% endblock %}


{% block body_detail %}
  <section class="race-info">
    <div class="block-name">
      <p class="block-name__en">Race Info</p>
      <p class="block-name__ja">大会情報</p>
      <div class="block-name__bar"></div>
    </div>

    <div class="race-info-box">
      {% for race in races %}
      <div class="race-info-elem">
        <div class="race-info-elem__month">{{race.month}}月</div>
        <div class="race-info-elem__race">{{race.name}}</div>
        <img src="{{race.image.url}}" class="race-info-elem__img">
        <div class="race-info-elem-bottom">
          <div class="race-info-elem-bottom__back"></div>
          {% if not race.race_info_url == '' %}
          <a class="button race-info-elem-bottom__btn" href="#">
            <div class="button__text">Race info</div>
            <i class="fas fa-arrow-right button__arrow"></i>
          </a>
          {% endif %}
          {% if not race.entry_info_url == '' %}
          <a class="button race-info-elem-bottom__btn" href="#">
            <div class="button__text">Entry</div>
            <i class="fas fa-arrow-right button__arrow"></i>
          </a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

  <section class="race-record">
    <div class="block-name">
      <p class="block-name__en">Record</p>
      <p class="block-name__ja">世界記録・アジア記録・日本記録</p>
      <div class="block-name__bar"></div>
    </div>
    <div class="race-record-box">
      <img src="{% static 'app/img/clock.png' %}" class="race-record-box__clock">
      <div class="race-record-box__bar"></div>
      <a class="button race-record-box___btn" href="#">
        <div class="button__text">Record</div>
        <i class="fas fa-arrow-right button__arrow"></i>
      </a>
    </div>
    <img src="{% static 'app/img/polka-dots.png' %}" class="race-record-back-img">
  </section>

  <section class="race-q-a">
    <div class="block-name">
      <p class="block-name__en">Race Q&A</p>
      <p class="block-name__ja">試合に関するQ&A</p>
      <div class="block-name__bar"></div>
    </div>
    <div class="q-a-block">
        <div class="q-a-list">
          <div class="q-a-list__question">Q.JFSA所属として試合に出られますか？</div>
          <div class="q-a-list-answer">
            <p class="q-a-list-answer__a">A.</p>
            <p class="q-a-list-answer__p">
              現在、JFSA所属とした試合への参加は行っておりません。大学チームやクラブチームからの参加をお願いします。クラブチームへ入会したい場合はお気軽にお問い合わせください。
            </p>
          </div>
        </div>
      <div class="q-a-list">
        <div class="q-a-list__question">Q.大会はどこで開催していますか？</div>
        <div class="q-a-list-answer">
          <p class="q-a-list-answer__a">A.</p>
          <p class="q-a-list-answer__p">
            多くの大会は関東近郊のプール（辰巳・横国・千葉国等）で行われます。詳細は大会要項をご覧ください。入場料もなく誰でも観戦できますので、会場で実際にフィンスイミングのスピード感をお楽しみください。またJFSAでは学生記録会も開催しておりますので、ぜひご参加ください。
          </p>
        </div>
      </div>
    </div>
  </section>



  {% endblock %}
