{% extends 'app/page-layout.html' %}
{% load static %}
{% load sass_tags %}


{% block title %}CLUB TEAM{% endblock %}
{% block a %}{% sass_src 'app/scss/page/team-college-club/style.scss' %}{% endblock %}


{% block page_title %}CLUB TEAM{% endblock %}
{% block page_minititle %}フィンスイミングクラブチーム{% endblock %}


{% block body_detail %}
<section class="team-elem">
  <div class="block-name">
    <p class="block-name__en">TEAM INFO</p>
    <p class="block-name__ja">チーム情報</p>
    <div class="block-name__bar"></div>
  </div>

  <div class="team-block">
    {% for team in teams %}
      <div class="team-block-elem">
        <img class="team-block-elem__img" src="{{team.image.url}}">
        <p class="team-block-elem__shortname">{{team.short_name}}</p>
        <p class="team-block-elem__name">{{team.name}}</p>
        <p class="team-block-elem__owner">代表者：{{team.owner}}</p>
        <p class="team-block-elem__place">拠点　：{{team.training_place}}</p>
        <p class="team-block-elem__term">頻度　：{{team.training_term}}</p>
        <p class="team-block-elem__description">{{team.description}}</p>
        <div class="team-block-icon">
          {% if not team.web_url == '' %}
            <a href="{{team.web_url}}"><i class="fas fa-pager team-block-icon__elem"></i></a>
          {% endif %}
          {% if not team.instagram_url == '' %}
            <a href="{{team.instagram_url}}"><i class="fab fa-instagram-square team-block-icon__elem"></i></a>
          {% endif %}
          {% if not team.twitter_url == '' %}
            <a href="{{team.twitter_url}}"><i class="fab fa-twitter-square team-block-icon__elem"></i></a>
          {% endif %}
          {% if not team.facebook_url == '' %}
            <a href="{{team.facebook_url}}"><i class="fab fa-facebook-square team-block-icon__elem"></i></a>
          {% endif %}
          {% if not team.email == '' %}
            <a href="{{team.email}}"><i class="fas fa-envelope team-block-icon__elem"></i></a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  <script src="{% static 'app/js/team-list.js' %}"></script>

  <div class="pagination">
    {% if page_obj.has_previous %}
      <a href="?page=1"><i class="fas fa-step-backward pagination__first"></i></a>
      <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left pagination__pre"></i></a>
    {% endif %}
    <span class="pagination__num">
      {{page_obj.number}} / {{page_obj.paginator.num_pages}}
    </span>
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-angle-right pagination__next"></i></a>
      <a href="?page={{ page_obj.paginator.num_pages }}"><i class="fas fa-step-forward pagination__last"></i></a>
    {% endif %}
  </div>
</section>
{% endblock %}
