{% extends 'app/page-layout.html' %}
{% load static %}


{% block title %}TEAM{% endblock %}
{% block css %}{% static 'app/css/team.css' %}{% endblock %}

{% block page_top_img %}{% static 'app/img/trial1.jpg' %}{% endblock %}
{% block page_title %}TEAM{% endblock %}
{% block page_minititle %}チーム情報を見る{% endblock %}

{% block body_detail %}
<div class="block_space"></div>
<div class="box1">
  <img src="{% static 'app/img/home7.png' %}" class="imgh7">
  <div class="cover2"></div>
  <p class="box1-text1">COLLEGE TEAM</p>
  <p class="box1-text2">大学フィンスイミングチーム</p>
  <div class="bar2"></div>
  <p class="box1-text3">
    各大学のフィンスイミングチームを紹介します。<br>
  大学のプールを拠点とするチーム、学生練習会やクラブチームでの練習を主とするチームなど、
  いろいろな活動スタイルがあります。

  </p>
</div>
<div class="block_mini_space"></div>
<div class="box2">
  <img src="{% static 'app/img/home7.png' %}" class="imgh7">
  <div class="cover2"></div>
  <p class="box2-text1">FINSWIMMING CLUB</p>
  <p class="box2-text2">フィンスイミングクラブ</p>
  <div class="bar3"></div>
  <p class="box2-text3">
    日本全国のフィンスイミングクラブを紹介します。<br>
ジュニアからマスターズまで、幅広い世代が一緒に練習しています。

  </p>
</div>
<div class="block_mini_space"></div>
      <div class="box3">
        <img src="{% static 'app/img/home7.png' %}" class="imgh7">
        <div class="cover2"></div>
        <p class="box3-text1">NATIONAL TEAM</p>
        <p class="box3-text2">日本代表＆学生代表</p>
        <div class="bar4"></div>
        <p class="box3-text3">
      　国際大会の代表選手や学生日本代表、ユース日本代表選手を紹介します。
  　　　</p>
      </div>
  <div class="block_mini_space"></div>
      <div class="race_schedule">
        <p class="race_schedule_title">TEAM Q&A</p>
        <div class="race_schedule_bar"></div>
        <div class="cp_qa">
          <div class="cp_actab">
          <input id="cp_tabfour011" type="checkbox" name="tabs">
          <label for="cp_tabfour011">フィンスイミングができる大学はどのくらいある？</label>
          <div class="cp_actab-content">
          	<p>お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
              お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
              お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
              お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
      　　　</p>
          </div>
          </div>

          <div class="cp_actab">
          <input id="cp_tabfour012" type="checkbox" name="tabs">
          <label for="cp_tabfour012">大学で1人でも、インカレに出場できる？</label>
          <div class="cp_actab-content">
          	<p>お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
              お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
              お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
              お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示され
            </p>
        	</div>
          </div>

          <div class="cp_actab">
          <input id="cp_tabfour013" type="checkbox" name="tabs">
          <label for="cp_tabfour013">地方でもフィンスイミングはできる？</label>
          <div class="cp_actab-content">
          	<p>お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
              お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
              お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
              お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示され
            </p>
        	</div>
          </div>

          <div class="cp_actab">
          <input id="cp_tabfour014" type="checkbox" name="tabs">
          <label for="cp_tabfour014">地方でもフィンスイミングはできる？</label>
          <div class="cp_actab-content">
          	<p>お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
              お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
              お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
              お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示され
            </p>
        	</div>
          </div>

          <div class="cp_actab">
          <input id="cp_tabfour015" type="checkbox" name="tabs">
          <label for="cp_tabfour015">地方でもフィンスイミングはできる？</label>
          <div class="cp_actab-content">
          	<p>お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
              お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
              お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示されます。
              お試しの文章です。ここに回答が表示されます。お試しの文章です。ここに回答が表示され
            </p>
        	</div>
          </div>

        </div>
      </div>
{% endblock %}
