{% extends 'app/page-layout.html' %}
{% load static %}
{% load sass_tags %}


{% block title %}NATIONAL TEAM{% endblock %}
{% block a %}{% sass_src 'app/scss/page/team-national/style.scss' %}{% endblock %}


{% block page_title %}National Team{% endblock %}
{% block page_minititle %}日本代表&学生代表{% endblock %}


{% block body_detail %}
<section class="national-member">

  <div class="block-name">
    <p class="block-name__en">National Member</p>
    <p class="block-name__ja">代表選手の紹介</p>
    <div class="block-name__bar"></div>
  </div>

  <div class="national-mem-block">
    <div class="select">
      <span class="placeholder">View: {{year}}</span>
      <ul>
        {% for upload_year in upload_years %}
        <li><a href="{% url 'national' upload_year.selected_year.year %}">View: {{upload_year.selected_year|date:"Y"}}</a></li>
        {% endfor %}
      </ul>
      <input type="hidden" name="changeme"/>
    </div>
    <div class="national-mem-block-box">
      {% for member in members %}
      <div class="national-mem-block-box-elem">
        <img class="national-mem-block-box-elem__img" src="{{member.image.url}}">
        <p class="national-mem-block-box-elem__name">{{member.name}}</p>
        <p class="national-mem-block-box-elem__romaji">{{member.name_romaji}}</p>
        <p class="national-mem-block-box-elem__team">所属チーム：{{member.team.short_name}}</p>
        <p class="national-mem-block-box-elem__race">出場レース：<br>{{member.race}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</<section>

<section class="national-q-a">
  <div class="block-name">
    <p class="block-name__en">National Team Q&A</p>
    <p class="block-name__ja">日本代表&学生代表に関するQ&A</p>
    <div class="block-name__bar"></div>
  </div>
  <div class="q-a-block">
      <div class="q-a-list">
        <div class="q-a-list__question">Q.日本代表にはどうなったらなれますか？</div>
        <div class="q-a-list-answer">
          <p class="q-a-list-answer__a">A.</p>
          <p class="q-a-list-answer__p">
            選考対象となる大会（日本選手権など）で標準記録を突破し、かつ2位以内に入れば日本代表に内定します。
          </p>
        </div>
      </div>
    <div class="q-a-list">
      <div class="q-a-list__question">Q.日本代表と学生代表、ユース代表の違いは何ですか？</div>
      <div class="q-a-list-answer">
        <p class="q-a-list-answer__a">A.</p>
        <p class="q-a-list-answer__p">
          学生代表は大学生、ユース代表は18歳以下の日本代表のことを指します。選考基準は各世代で標準記録を突破した上位2名です。世界学生選手権や世界ユース選手権に派遣されます。
        </p>
      </div>
    </div>
    <div class="q-a-list">
      <div class="q-a-list__question">Q.日本代表はどんな大会に派遣されますか？</div>
      <div class="q-a-list-answer">
        <p class="q-a-list-answer__a">A.</p>
        <p class="q-a-list-answer__p">
          隔年で開催される世界選手権とアジア選手権に派遣されます。また、日本代表のうちさらに基準を突破した選手が、第二のオリンピックと呼ばれる『World Games』に派遣されます。
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
