{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>日本学生フィンスイミング連盟</title>
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'app/scss/style.scss' %}">
  <link rel="stylesheet" type="text/css" href="{% sass_src 'app/scss/page/top/style.scss' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{% static 'app/js/navi.js' %}"></script>
</head>
<body>
  <header class="header">
    <div class="header__name">
      JFSA
    </div>
    <div class="navi">
      <p class="navi__btn">
        <span></span>
        <span></span>
        <span></span>
      </p>
      <nav class="navi__global">
        <ul class="navi__list">
          <li class="navi__list-elem"><a class="navi__list-name" href="{% url 'top' %}">> ホーム</a></li>
          <li class="navi__list-elem"><a class="navi__list-name" href="{% url 'trial' %}">> 体験する</a></li>
          <li class="navi__list-elem"><a class="navi__list-name" href="{% url 'team' %}">> チームを見る</a></li>
          <li class="navi__list-elem"><a class="navi__list-name--sub" href="{% url 'college' %}">大学チーム</a></li>
          <li class="navi__list-elem"><a class="navi__list-name--sub" href="{% url 'club' %}">クラブチーム</a></li>
          <li class="navi__list-elem"><a class="navi__list-name--sub" href="{% url 'national' %}">代表チーム</a></li>
          <li class="navi__list-elem"><a class="navi__list-name" href="{% url 'training' %}">> 練習する</a></li>
          <li class="navi__list-elem"><a class="navi__list-name--sub" href="{% url 'training_jfsa' %}">学生練習会</a></li>
          <li class="navi__list-elem"><a class="navi__list-name--sub" href="{% url 'training_story' %}">学生の練習風景</a></li>
          <li class="navi__list-elem"><a class="navi__list-name" href="{% url 'race' %}">> 試合に出る</a></li>
          <li class="navi__list-elem"><a class="navi__list-name--sub" href="{% url 'race_jfsa' %}">学生記録会</a></li>
          <li class="navi__list-elem"><a class="navi__list-name--sub" href="{% url 'race_online' %}">オンライン記録会</a></li>
          <li class="navi__list-elem"><a class="navi__list-name" href="{% url 'news' %}">> ニュースを見る</a></li>
          <li class="navi__list-elem"><a class="navi__list-name" href="{% url 'about' %}">> 私たちについて</a></li>
          <li class="navi__list-elem"><a class="navi__list-name--sub" href="{% url 'about_jfsa' %}">JFSA</a></li>
          <li class="navi__list-elem"><a class="navi__list-name--sub" href="{% url 'about_finswimming' %}">フィンスイミング</a></li>
        </ul>
      </nav>
    </div>
  </header>


  <section class="top-img">
    <img src="{% static 'app/img/home-top.png' %}" class="top-img__img" alt="img">
  </section>


  <section class="intro">
    <p class=intro__en>
      THE FINSWIMMING
      <br>
      OF THE STUDENT, BY THE STUDENT, FOR THE STUDENT
    </p>
    <div class="intro__bar"></div>
    <p class="intro__ja">
      日本フィンスイミング学生連合（JFSA）は、『学生フィンスイミング界の発展と交流』を目的とした大学生・大学院生および専門学生によって構成される組織です。このサイトは、JFSAが運営する学生のためのフィンスイミングメディアです。
    </p>
    <div class="intro__diagonal-top--up">
      <img src="{% static 'app/img/diagonal-line.png' %}" alt="img" width="200">
    </div>
    <div class="intro__diagonal-top--down">
      <img src="{% static 'app/img/diagonal-line.png' %}" alt="img" width="200">
    </div>
  </section>


  <section class="finswimming">
    <div class="block-name">
      <p class="block-name__en">FINSWIMMING</p>
      <p class="block-name__ja">フィンスイミングとは？</p>
      <div class="block-name__bar"></div>
    </div>
    <div class="finswimming-all">
      <div class="finswimming-movie">
        <video src="{% static 'app/img/fin-intro.mp4' %}" loop autoplay muted class="finswimming-movie__mp4"></video>
      </div>
      <div class="finswimming-exp">
        <p class="finswimming-exp__en">Who is the<br>FAST swimmer?</p>
        <p class="finswimming-exp__ja">フィンという足ひれを使って、水中でタイムを競うスポーツ。50mを最速で、13秒で泳いでしまう。まだまだ伸び代がある世界、この世界で誰よりも速く泳いでみないか？</p>
        <a class="button finswimming-exp__btn" href="#">
          <div class="button__text">View more</div>
          <i class="fas fa-arrow-right button__arrow"></i>
        </a>
      </div>
    </div>
  </section>

  <section class="forstudent">
    <div class="block-name">
      <p class="block-name__en">FOR STUDENT</p>
      <p class="block-name__ja">初めての学生へ</p>
      <div class="block-name__bar"></div>
    </div>
    <div class="forstudent-all">
      <div class="forstudent-block-left">
        <div class="forstudent-block-left__upbar"></div>
        <div class="forstudent-block-left__downbar"></div>
      </div>
      <div class="forstudent-4block">
        <a class="forstudent-block">
          <img src="{% static 'app/img/home-trial.png' %}" alt="img" class="forstudent-block__img">
          <div class="forstudent-block__cover"></div>
          <div class="forstudent-block__ja">フィンスイミングを体験する<br><div class="forstudent-block__bar"></div></div>
        </a>
        <a class="forstudent-block">
          <img src="{% static 'app/img/home-team.png' %}" alt="img" class="forstudent-block__img">
          <div class="forstudent-block__cover"></div>
          <div class="forstudent-block__ja">チーム情報を見る<br><div class="forstudent-block__bar"></div></div>
        </a>
        <a class="forstudent-block">
          <img src="{% static 'app/img/home-training.png' %}" alt="img" class="forstudent-block__img">
          <div class="forstudent-block__cover"></div>
          <div class="forstudent-block__ja">学生練習会に参加する<br><div class="forstudent-block__bar"></div></div>
        </a>
        <a class="forstudent-block">
          <img src="{% static 'app/img/home-race.png' %}" alt="img" class="forstudent-block__img">
          <div class="forstudent-block__cover"></div>
          <div class="forstudent-block__ja">大会情報を探す<br><div class="forstudent-block__bar"></div></div>
        </a>
      </div>
    </div>
  </section>

  <section class="schedule">
    <div class="block-name">
      <p class="block-name__en">SCHEDULE</p>
      <p class="block-name__ja">月間スケジュール</p>
      <div class="block-name__bar"></div>
    </div>
    <div class="schedule-block">
      <div class="calendar">
        <p class="calendar__month">{{month_current.month}}</p>
        <table class="calendar__block">
          <thead>
           <tr>
             {% for w in week_names %}
              <th class="calendar__week">{{ w }}</th>
             {% endfor %}
           </tr>
         </thead>
         <tbody>
           {% for week in month_days %}
           <tr>
             {% for day in week %}
              {% if month_current.month != day.month %}
              <td class="calendar__falday">
                {{ day.day }}
              {% else %}
              <td class="calendar__truday">
                {{ day.day }}
              {% endif %}
              </td>
             {% endfor %}
           </tr>
           {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="schedule-exp">
        <div class="calendar-exp">
          <i class="fas fa-circle circle-mark calendar-exp__mark"></i>
          <p class="calendar-exp__p">体験会</p>
          <i class="fas fa-circle circle-mark--train calendar-exp__mark"></i>
          <p class="calendar-exp__p">練習会</p>
          <i class="fas fa-circle circle-mark--race calendar-exp__mark"></i>
          <p class="calendar-exp__p">試合</p>
        </div>
        <div class="schedule-exp__p">JFSAでは、フィンスイミングのイベント情報を全て掲載しています。どのイベントもどなたでも参加可能です。予定が合う日をチェックしてイベントに参加してみませんか？</div>
        <div class="page-transition">
          <div class="page-transition__p">フィンスイミングの体験会に参加</div>
          <a class="button page-transition__btn" href="#">
            <div class="button__text">Trial page</div>
            <i class="fas fa-arrow-right button__arrow"></i>
          </a>
          <div class="page-transition__p">JFSAが主催する練習会に参加</div>
          <a class="button page-transition__btn" href="#">
            <div class="button__text">Training page</div>
            <i class="fas fa-arrow-right button__arrow"></i>
          </a>
          <div class="page-transition__p">フィンスイミングの試合に参加</div>
          <a class="button page-transition__btn" href="#">
            <div class="button__text">Race page</div>
            <i class="fas fa-arrow-right button__arrow"></i>
          </a>
        </div>
      </div>
    </div>
  </section>

<section class="news">
  <div class="block-name">
    <p class="block-name__en">NEWS</p>
    <p class="block-name__ja">新着ニュース</p>
    <div class="block-name__bar"></div>
  </div>
  <div class="news-block">
    {% for news in news_lists %}
      <a class="news-list" href="{{ news.get_absolute_url }}">
        <p class="news-list__date">{{news.published_at|date:"Y.m.d"}}</p>
        {% for tag in news.tags.all %}
          {% if tag.name == 'trial' %}
            <i class="fas fa-circle circle-mark news-list__mark"></i>
          {% elif tag.name == 'race' %}
            <i class="fas fa-circle circle-mark--train news-list__mark"></i>
          {% elif tag.name == 'training' %}
            <i class="fas fa-circle circle-mark--race news-list__mark"></i>
          {% elif tag.name == 'none' %}
            <div class="news-list__no-mark"></div>
          {% endif %}
        {% endfor %}
        <p class="news-list__title">{{news.title}}</p>
        <div class="news-list__thumnail"><img class="news-list__thumnail" src="{{news.thumnail.url}}"></div>
      </a>
    {% endfor %}
  </div>
</section>

  <footer class="footer">
    <div class="footer-left">
      <div class="footer-left__upname">JFSA</div>
      <div class="footer-left__jfname">JAPAN FINSWIMMING</div>
      <div class="footer-left__saname">STUDENT ASSOCIATION</div>
    </div>
    <div class="footer-right">
      <div class="footer-menu">
        <a class="footer-menu__list">ホーム</a>
        <a class="footer-menu__list">体験をする</a>
        <a class="footer-menu__list">チームを見る</a>
        <a class="footer-menu__list">練習をする</a>
        <a class="footer-menu__list">試合に出る</a>
        <a class="footer-menu__list">ニュースを見る</a>
        <a class="footer-menu__list">私たちについて</a>
      </div>
      <div class="footer-sns">
        <i class="fab fa-line footer-sns__list"></i>
        <i class="fab fa-instagram footer-sns__list"></i>
        <i class="fab fa-twitter-square footer-sns__list"></i>
        <i class="fab fa-youtube-square footer-sns__list"></i>
      </div>
      <div class="footer-right__mail">fin.univ.assoc@gmail.com</div>
    </div>
  </footer>
</body>
</html>
