{% load static %}
<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>日本フィン学生連盟</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/top.css' %}">
  </head>

  <body>

        <img src="{% static 'app/img/home1.png' %}" class="imgh1" alt="img">
        <img src="{% static 'app/img/home1-2.png' %}" class="imgh1-2" alt="img">

        <ul id="menu1">
          <li><a href="{% url 'top' %}">HOME</a></li>
          <li><a href="{% url 'trial' %}">TRIAL</a></li>

          <li><a href="{% url 'team' %}">TEAM</a>
            <ul>
              <li><a href="{% url 'college' %}">COLLEGE</a></li>
              <li><a href="{% url 'club' %}">CLUB</a></li>
              <li><a href="{% url 'national' %}">NATIONAL</a></li>
            </ul>
          </li>

          <li><a href="{% url 'training' %}">TRAINING</a>
            <ul>
              <li><a href="{% url 'training_jfsa' %}">TRAINING JFSA</a></li>
              <li><a href="{% url 'training_story' %}">TRAINING STORY</a></li>
            </ul>
          </li>

          <li><a href="{% url 'race' %}">RACE</a>
            <ul>
              <li><a href="{% url 'race_jfsa' %}"> JFSA CUP</a></li>
            </ul>
          </li>

          <li><a href="{% url 'news' %}">NEWS</a></li>

          <li><a href="{% url 'about' %}">ABOUT</a>
            <ul>
              <li><a href="{% url 'about_finswimming' %}">FINSWIMMING</a></li>
              <li><a href="{% url 'about_jfsa' %}">JFSA</a></li>
            </ul>
          </li>
        </ul>

        <div id="nav-drawer">
         <input id="nav-input" type="checkbox" class="nav-unshown">
         <label id="nav-open" for="nav-input"><span></span></label>
         <label class="nav-unshown" id="nav-close" for="nav-input"></label>
         <div id="nav-content">
        <ul id="menu3">
          <li><a href="{% url 'top' %}">HOME</a></li>
          <li><a href="{% url 'trial' %}">TRIAL</a></li>

          <li><a href="{% url 'team' %}">TEAM</a>
            <ul>
              <li><a href="{% url 'college' %}">COLLEGE</a></li>
              <li><a href="{% url 'club' %}">CLUB</a></li>
              <li><a href="{% url 'national' %}">NATIONAL</a></li>
            </ul>
          </li>

          <li><a href="{% url 'training' %}">TRAINING</a>
            <ul>
              <li><a href="{% url 'training_jfsa' %}">TRAINING JFSA</a></li>
              <li><a href="{% url 'training_story' %}">TRAINING STORY</a></li>
            </ul>
          </li>

          <li><a href="{% url 'race' %}">RACE</a>
            <ul>
              <li><a href="{% url 'race_jfsa' %}"> JFSA CUP</a></li>
            </ul>
          </li>

          <li><a href="{% url 'news' %}">NEWS</a></li>

          <li><a href="{% url 'about' %}">ABOUT</a>
            <ul>
              <li><a href="{% url 'about_finswimming' %}">FINSWIMMING</a></li>
              <li><a href="{% url 'about_jfsa' %}">JFSA</a></li>
            </ul>
          </li>

        </ul>
        </div>
        </div>

        <img src="{% static 'app/img/home2.png' %}" class="imgh2" alt="img">

        <div class="box1">

        <h2>THE FINSWIMMING<br>OF THE STUDENT, BY THE STUDENT, FOR THE STUDENT</h2>
        <h3>JFSAは、<br>『学生フィンスイミング界の発展と交流』<br>
          　を目指して活動する、大学生・大学院生・専門学生による組織です<br>
          　<br>このサイトを見ればフィンスイミングのすべてがわかる<br>
            JFSAが運営するフィンスイミングメディアです</h3>

        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>

       </div>

       <div class="box2">
        <p class="title1">WHAT IS FINSWIMMING</p>

        <div class="bar4"></div>

        <div class="hbox1">
          <img src="{% static 'app/img/home3.png' %}" class="imgh3" alt="img">
          <div class="hbox2">
          <p>フィンという足ひれを使って、水中でタイムを競うスポーツ。50ｍを最速で、
            13秒で泳いでしまう。<br>まだまだ伸びしろがある世界、
            この世界で誰よりも速く泳いでみないか？</p>
            <div class="button1">
            <div class="eff-1"></div>
            <a href="{% url 'trial' %}">MORE</a>
            </div>
          </div>
        </div>

      </div>

  <div class="allbox">
    <div class="box3">

        <p class="title2">FOR STUDENTS</p>

        <div class="bar5"></div>


        <div class="triangle1">
          <p class="tritext1"><a href="{% url 'trial' %}" class="tritext1link">フィンスイミングを体験する</a></p>
          <div class="bar6"></div>
          <p class="tritext2"><a href="{% url 'trial' %}" class="tritext1link">JFSAが企画する体験会はもちろん、
            クラブチームが開催している体験会もすべて掲載しています。</a></p>
          <p class="tritext2-2">TRIAL</p>
            <img src="{% static 'app/img/home8.png' %}" class="imgh8-2" alt="img">
            <img src="{% static 'app/img/home9.png' %}" class="imgh9-2" alt="img">

          <a href="{% url 'trial' %}">
          <figure class="figure1">
           <img src="{% static 'app/img/home4.png' %}" class="imgh4" alt="img">
           <figcaption class="figcaption1">
             <img src="{% static 'app/img/home8.png' %}" class="imgh8" alt="img">
             <img src="{% static 'app/img/home9.png' %}" class="imgh9" alt="img">
           <p>TRIAL</p>
           </figcaption>
          </figure>
          </a>
        </div>

        <div class="triangle2">
          <p class="tritext3"><a href="{% url 'team' %}" class="tritext1link">チーム情報を見る</a></p>
          <div class="bar7"></div>
          <p class="tritext4"><a href="{% url 'team' %}" class="tritext1link">大学チーム、クラブチームをすべて掲載しています。
            気になるチームに連絡を取ってみませんか？</a></p>
            <p class="tritext4-2">TEAM</p>
            <img src="{% static 'app/img/home10.png' %}" class="imgh10-2" alt="img">

          <a href="{% url 'team' %}">
          <figure class="figure2">
           <img src="{% static 'app/img/home5.png' %}" class="imgh5" alt="img">
           <figcaption class="figcaption2">
           <img src="{% static 'app/img/home10.png' %}" class="imgh10" alt="img">
           <p>TEAM</p>
           </figcaption>
          </figure>
          </a>
        </div>

        <div class="triangle3">
          <p class="tritext5"><a href="{% url 'training' %}" class="tritext1link">学生練習会に参加する</a></p>
          <div class="bar8"></div>
          <p class="tritext6"><a href="{% url 'training' %}" class="tritext1link">大学で泳ぐ環境がない、クラブチームの練習に
          参加しづらいという学生に対して、JFSAは練習会を提供しています。</a></p>
          <p class="tritext6-2">TRAINING</p>
           <img src="{% static 'app/img/home12.png' %}" class="imgh12-2" alt="img">

          <a href="{% url 'training' %}">
          <figure class="figure3">
           <img src="{% static 'app/img/home7.png' %}" class="imgh7" alt="img">
           <figcaption class="figcaption3">
           <img src="{% static 'app/img/home12.png' %}" class="imgh12" alt="img">
           <p>TRAINING</p>
           </figcaption>
          </figure>
          </a>
          </div>


        <div class="triangle4">
          <p class="tritext7"><a href="{% url 'race' %}" class="tritext1link">大会情報を探す</a></p>
          <div class="bar9"></div>
          <p class="tritext8"><a href="{% url 'race' %}" class="tritext1link">学生が参加できるフィンスイミングの試合を
          すべて掲載しています。チェックして、出られる試合に出場してみましょう！</a></p>
          <p class="tritext8-2">RACE</p>
          <img src="{% static 'app/img/home13.png' %}" class="imgh13-2" alt="img">

          <a href="{% url 'race' %}">
          <figure class="figure4">
           <img src="{% static 'app/img/home6.png' %}" class="imgh6" alt="img">
           <figcaption class="figcaption4">
           <img src="{% static 'app/img/home13.png' %}" class="imgh13" alt="img">
           <p>RACE</p>
           </figcaption>
          </figure>
          </a>
        </div>

      </div>

      <div class="box4">

        <p class="title3">SCHEDULE</p>

        <div class="bar10"></div>

        <div class="calendar">
         <p class="month">{{month_current.month}}</p>
         <table>
           <thead>
             <tr>
               {% for w in week_names %}
                <th>{{ w }}</th>
               {% endfor %}
             </tr>
          </thead>
          <tbody>
            {% for week in month_days %}
            <tr>
              {% for day in week %}
                {% if now == day %}
                <td>
                {% else %}
                <td>
                {% endif %}
                {% if month_current.month != day.month %}
                  {{ day | date:"m/d" }}
                {% else %}
                  {{ day.day }}
                {% endif %}
                </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>

           <p class="more1">TRIAL</p>
           <div class="circle1"></div>
           <div class="button2">
           <div class="eff-1"></div>
           <a href="{% url 'trial' %}">MORE</a>
           </div>


           <p class="more2">TRAINING JFSA</p>
           <div class="circle2"></div>
           <div class="button3">
           <div class="eff-1"></div>
           <a href="{% url 'training_jfsa' %}">MORE</a>
           </div>


           <p class="more3">RACE</p>
           <div class="circle3"></div>
           <div class="button4">
           <div class="eff-1"></div>
           <a href="{% url 'race' %}">MORE</a>
           </div>
          </div>


          <div class="box5">
            <p class="title4">NEWS</p>

            <div class="bar11"></div>
            <div class="bar12"></div>
            <div class="bar13"></div>

          <ul class="msr_newslist01">
            {% for news in news_lists %}
              <li>
                <a href="{{ news.get_absolute_url }}">
                  <div class="news_list">
                    <p class="published_date">{{news.published_at|date:"Y.m.d"}}</p>
                    {% for tag in news.tags.all %}
                      {% if tag.name == 'trial' %}
                        <div class="trial_mark"></div>
                      {% elif tag.name == 'race' %}
                        <div class="race_mark"></div>
                      {% elif tag.name == 'training' %}
                        <div class="training_mark"></div>
                      {% elif tag.name == 'nothing' %}
                        <div class="no_mark"></div>
                      {% endif %}
                    {% endfor %}
                    <p class="news_title">{{news.title}}</p>
                  </div>
                </a>
              </li>
            {% endfor %}
          </ul>

          <div class="button5">
          <div class="eff-1"></div>
          <a href="{% url 'news' %}">MORE</a>
          </div>
        </div>

        <div class="box6">
          <ul id="menu2">
            <li><a href="{% url 'top' %}">HOME</a></li>
            <li><a href="{% url 'trial' %}">TRIAL</a></li>
            <li><a href="{% url 'team' %}">TEAM</a></li>
            <li><a href="{% url 'training' %}">TRAINING</a></li>
            <li><a href="{% url 'race' %}">RACE</a></li>
            <li><a href="{% url 'news' %}">NEWS</a></li>
            <li><a href="{% url 'about' %}">ABOUT</a></li>
          </ul>

          <p class="mailadd">fin.univ.assoc@gmail.com</p>

          <div class="sample">
          <a href="#">
          <img src="{% static 'app/img/LINE.png' %}" class="LINE" alt="img">
          <div class="snsbox1">
          <p class="snstext1">LINE</p>
          </div>
          </a>
          </div>

          <div class="sample">
          <a href="https://www.instagram.com/jfsa_main/">
          <img src="{% static 'app/img/insta.png' %}" class="insta" alt="img">
          <div class="snsbox2">
          <p class="snstext2">Instagram</p>
          </div>
          </a>
          </div>

          <div class="sample">
          <a href="#">
          <img src="{% static 'app/img/YouTube.png' %}" class="YouTube" alt="img">
          <div class="snsbox3">
          <p class="snstext3">YouTube</p>
          </div>
          </a>
          </div>

          <div class="sample">
          <a href="#">
          <img src="{% static 'app/img/twitter.png' %}" class="twitter" alt="img">
          <div class="snsbox4">
          <p class="snstext4">Twitter</p>
          </div>
          </a>
          </div>

          <p class="JFSA">JAPAN FINSWIMMING STUDENT ASSOCIATION</p>
        </div>

      </div>

  </body>
</html>
