{% extends 'app/page-layout.html' %}
{% load static %}
{% load sass_tags %}

{% block title %}TRIAL{% endblock %}
{% block a %}{% sass_src 'app/scss/page/training-jfsa/style.scss' %}{% endblock %}

{% block page_title %}Training in JFSA{% endblock %}
{% block page_minititle %}学生練習会に参加する{% endblock %}

{% block body_detail %}
  <section class="page-discription">
    <div class="page-discription-img">
      <img src="{% static 'app/img/trial.png' %}" class="page-discription-img__img" alt="img">
      <div class="page-discription-img__cover"></div>
    </div>
    <div class="page-discription-p">
      <p class="page-discription-p__title">フィンを続けられる環境を</p>
      <div class="page-discription-p__ja">
        『フィンスイミングを始めたいけど、どうやって練習したらいいの？』
        <br>そんなあなたはぜひ学生練習会にお越しください！学生練習会は、初心者から日本代表まで、学生ならば誰でも参加できる練習会です。メニュー作成者からのアドバイス・サポートも手厚く、学生間の交流も盛んです。普段所属チームで練習している学生も、フィンスイミングを始めたいそこのあなたも！学生練習会で切磋琢磨しながらフィンスイミングを楽しみませんか？<img src="{% static 'app/img/diagonal-line.png' %}" alt="img" class="page-discription-p__bottom">
      </div>
    </div>
  </section>

  <section class="training-jfsa-contents">
    <div class="training-jfsa-contents-lineouter">
      <div class="training-jfsa-contents-line"></div>
    </div>
    <div class="training-jfsa-contents-box">
      <div class="training-jfsa-contents-box-elem">
        <img src="{% static 'app/img/trial.png' %}" class="training-jfsa-contents-box-elem__img">
        <i class="fas fa-chevron-right training-jfsa-contents-box-elem__arrow"></i>
        <a href="" class="training-jfsa-contents-box-elem__p">練習会の日程を確認する</a>
      </div>
      <div class="training-jfsa-contents-box-elem">
        <img src="{% static 'app/img/trial.png' %}" class="training-jfsa-contents-box-elem__img">
        <i class="fas fa-chevron-right training-jfsa-contents-box-elem__arrow"></i>
        <a href="" class="training-jfsa-contents-box-elem__p">練習会のメニューを見る</a>
      </div>
      <div class="training-jfsa-contents-box-elem">
        <img src="{% static 'app/img/trial.png' %}" class="training-jfsa-contents-box-elem__img">
        <i class="fas fa-chevron-right training-jfsa-contents-box-elem__arrow"></i>
        <a href="" class="training-jfsa-contents-box-elem__p">練習会のブログ/写真を見る</a>
      </div>
    </div>
  </section>

  <section class="training-in-jfsa-q-a">
    <div class="block-name">
      <p class="block-name__en">Training in JFSA Q&A</p>
      <p class="block-name__ja">学生練習会に関するQ&A</p>
      <div class="block-name__bar"></div>
    </div>
    <div class="q-a-block">
        <div class="q-a-list">
          <div class="q-a-list-question">
            <p class="q-a-list-question__q">Q.</p>
            <p class="q-a-list-question__p">学生練習会はどのくらいの頻度で開催されますか？</p>
          </div>
          <div class="q-a-list-answer">
            <p class="q-a-list-answer__a">A.</p>
            <p class="q-a-list-answer__p">
              JFSAでは週2~3回の練習会を開催しています。練習場所は横浜国際プール（神奈川・北山田）や辰巳国際水泳場（東京・辰巳）です。日程や参加申込は上記のページ、もしくはLINE@に登録してお聞きください。
            </p>
          </div>
        </div>
      <div class="q-a-list">
        <div class="q-a-list-question">
          <p class="q-a-list-question__q">Q.</p>
          <p class="q-a-list-question__p">学生練習会ではどのような練習が行われていますか？</p>
        </div>
        <div class="q-a-list-answer">
          <p class="q-a-list-answer__a">A.</p>
          <p class="q-a-list-answer__p">
            Instagramにて練習メニューを公開おり、上記のページから確認できます。また、学生練習会は学生(大学院生、短大、専門学校を含む)であればどなたでもご参加いただけますので、ぜひ一度参加してみてください。
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
