{% extends 'app/page-layout.html' %}
{% load static %}


{% block title %}TRAINING JFSA{% endblock %}
{% block css %}{% static 'app/css/training-jfsa.css' %}{% endblock %}

{% block page_top_img %}{% static 'app/img/trial1.jpg' %}{% endblock %}
{% block page_title %}TRAINING JFSA{% endblock %}
{% block page_minititle %}学生練習会に参加する{% endblock %}

{% block body_detail %}
<div class="block_space"></div>
<div class="trial_description">
  <img src="{% static 'app/img/trial2.png' %}" class="trial_img1">
  <div class="description1">
    <div class="description_cover"></div>
    <div class="triangle_upper_right"></div>
    <div class="triangle_lower_left"></div>
    <p class="description_title">
      題名をここに入力
    </p>
    <p class="description_text">
      学生練習会では、各大学の学生フィンスイマーが集まり練習をしています。<br>
練習責任者の学生がメニューを作り、説明しながら進行するため、<br><br>

<b>『フィンスイミングを始めたいけど、どうやって練習したらいいの？』</b><br><br>

そんなあなたも参加しやすくなっています。<br>
大学、専門学校問わず参加できるので、<b>学生間の交流も盛ん</b>です。<br>
普段所属チームで練習している学生も、フィンスイミングを始めたいそこのあなたも！<br>
学生練習会で切磋琢磨しながらフィンスイミングを楽しみませんか？

    </p>
  </div>
</div>

<div class="block_space"></div>
<div class="trial_description">
  <img src="{% static 'app/img/trial2.png' %}" class="trial_img2">
  <div class="description2">
    <div class="description_cover"></div>
    <div class="triangle_upper_right"></div>
    <div class="triangle_lower_left"></div>
    <p class="description_title">
      題名をここに入力
    </p>
    <p class="description_text">
      練習会情報を見たい方はコチラ<br>
  練習メニューを見たい方はコチラ<br>
  練習風景を見たい方はコチラ

    </p>
  </div>
</div>
<div class="block_space"></div>
<div class="detail_bar">
  <div class="detail_bar1"></div>
  <div class="detail_bar2"></div>
  <div class="detail_bar3"></div>
</div>

<div class="block_space"></div>

<div class="box1">

    <img src="{% static 'app/img/training1.jpg' %}" class="img-training4">
    <div class="cover2"></div>
    <div class="button4">
    <div class="eff-2"></div>
    <a href="#">TIME TREE<br><span class="btext4">練習日程の確認や出欠登録を行う</span></a>
    </div>


    <img src="{% static 'app/img/training2.jpg' %}" class="img-training5">
    <div class="cover3"></div>
    <div class="button5">
    <div class="eff-2"></div>
    <a href="#">MENU<br><span class="btext5">学生練習会の練習メニューを見る</span></a>
    </div>

    <img src="{% static 'app/img/training3.jpg' %}" class="img-training6">
    <div class="cover4"></div>
    <div class="button6">
    <div class="eff-2"></div>
    <a href="#">BLOG<br><span class="btext6">学生練習会の様子を見る</span></a>
    </div>

    </div>



{% endblock %}
