{% extends 'app/page-layout.html' %}
{% load static %}


{% block title %}TRIAL{% endblock %}
{% block css %}{% static 'app/css/trial.css' %}{% endblock %}


{% block page_top_img %}{% static 'app/img/trial1.jpg' %}{% endblock %}
{% block page_title %}TRIAL{% endblock %}
{% block page_minititle %}フィンスイミングを体験する{% endblock %}


{% block body_detail %}
<div class="block_space"></div>
<div class="trial_description">
  <img src="{% static 'app/img/trial2.png' %}" class="trial_img1">
  <div class="description1">
    <div class="description_cover"></div>
    <div class="triangle_upper_right"></div>
    <div class="triangle_lower_left"></div>
    <p class="description_title">
      フィンスイミング体験会
    </p>
    <p class="description_text">
    <b>『フィンスイミングをマイナースポーツからメジャースポーツへ』</b><br><br>
    JFSAは<b>普及活動</b>にも積極的に取り組んでいます。<br>この取り組みの１つとして、
    <b>フィンスイミング体験会</b>を実施しています。<br>
<b>日本を代表するトップスイマー</b>に、フィンスイミングの基礎から教われる貴重なチャンスです。
<br><br>皆さんも一度モノフィンを履いて、<b>“イルカの気持ち”</b>を味わってみませんか？
</p>
  </div>
</div>

<div class="block_space"></div>
<div class="trial_description">
  <img src="{% static 'app/img/trial2.png' %}" class="trial_img2">
  <div class="description2">
    <div class="description_cover"></div>
    <div class="triangle_upper_right"></div>
    <div class="triangle_lower_left"></div>
    <p class="description_title">
      題名をここに入力
    </p>
    <p class="description_text">
フィンスイミグは各クラブチームでも体験することができます。<br>
JFSAは体験希望者とクラブチームをつなぐ、橋渡し役も担っています。<br>
地方にお住いの体験希望者の方、体験会後も継続的に練習を行いたい方は、お気軽にご連絡ください。

    </p>
  </div>
</div>
<div class="block_space"></div>
<div class="detail_bar">
  <div class="detail_bar1"></div>
  <div class="detail_bar2"></div>
  <div class="detail_bar3"></div>
</div>
<p class="page_subtitle1"></p>
<div class="page_subtitle1_bar"></div>
<div class="event_dates">
  <p class="event_date_title">EVENT DATE</p>
  <div class="event_date_bar"></div>
  <div class="event_scroll">
    <div class="events_cover"></div>
    {% for event in  trial_events %}
      <div id="event{{ forloop.counter }}">
        <a href="{{ event.get_absolute_url }}">
          <img class="event_thumnail" src="{{event.thumnail.url}}" width=400>
          <div class="event_cover"></div>
          <div class="triangle_upper_left"></div>
          <div class="triangle_lower_right"></div>
          <p class="event_date">{{event.event_date|date:"Y.m.d"}}</p>
          <div class="trial_mark"></div>
          <p class="event_title">{{event.title}}</p>
          <div class="event_contents">
            {% with description=event.formatted_markdown|safe %}
            {{description|truncatechars:65}}
            {% endwith %}
          </div>
        </a>
      </div>
    {% endfor %}
    </div>
</div>

{% endblock %}
