{% extends 'app/page-layout.html' %}
{% load static %}
{% load sass_tags %}


{% block title %}TRIAL{% endblock %}
{% block a %}{% sass_src 'app/scss/page/trial/style.scss' %}{% endblock %}


{% block page_title %}Trial{% endblock %}
{% block page_minititle %}フィンスイミングを体験する{% endblock %}


{% block body_detail %}

  <section class="page-discription">
    <div class="page-discription-img">
      <img src="{% static 'app/img/trial.png' %}" class="page-discription-img__img" alt="img">
      <div class="page-discription-img__cover"></div>
    </div>
    <div class="page-discription-p">
      <p class="page-discription-p__title">今までにないスピード体験を</p>
      <div class="page-discription-p__ja">
        『フィンを履いて泳いでみたい』そんなあなたは必見！JFSAはたくさんの方々にフィンスイミングの魅力を実感してもらうため、フィンスイミング体験会を実施しています。水泳未経験者の方でも、もちろん経験者の方でも！日本を代表するトップスイマーにフィンスイミングの基礎から教われる貴重なチャンスです。皆さんも一度モノフィンを履いて、“イルカの気持ち”を味わってみませんか？<img src="{% static 'app/img/diagonal-line.png' %}" alt="img" class="page-discription-p__bottom">
      </div>
    </div>
  </section>

  <section class="page-discription">
    <div class="page-discription-p--left">
      <p class="page-discription-p__title--left">全国の体験会情報を掲載</p>
      <div class="page-discription-p__ja--left">
        フィンスイミングは各クラブチームでも体験することができます。JFSAは他クラブの体験会の情報もすべて掲載しています。地方にお住いの体験希望者の方は、下の体験会情報から体験会を探してみてください。JFSAは体験希望者とクラブチームをつなぐ、橋渡し役も担っています。お困りの際は、僕たちまで連絡して下さい。<img src="{% static 'app/img/diagonal-line.png' %}" alt="img" class="page-discription-p__bottom--left">
      </div>
    </div>
    <div class="page-discription-img">
      <img src="{% static 'app/img/trial2.png' %}" class="page-discription-img__img" alt="img">
      <div class="page-discription-img__cover--left"></div>
    </div>
  </section>

  <section class="trial-info">
    <div class="block-name">
      <p class="block-name__en">Trial Info</p>
      <p class="block-name__ja">体験会情報</p>
      <div class="block-name__bar"></div>
    </div>
    <div class="trial-info-elem">
      <div class="trial-info-elem-left">
        <div class="trial-info-elem-left__upbar"></div>
        <div class="trial-info-elem-left__p">体験会の情報を開催日が近い順に並べています。日程や場所を確認して、体験会の予約をしてみて下さい。</div>
        <div class="trial-info-elem-left__downbar"></div>
      </div>
      <div class="trial-info-elem-block">
        {% for event in events %}
        <a class="trial-info-elem-block-list" href="{{ event.event_url }}">
          <img class="trial-info-elem-block-list__img" src="{{event.thumnail.url}}">
          <div class="trial-info-elem-block-list__cover"></div>
          <div class="trial-info-elem-block-list-tags">
            <div class="trial-info-elem-block-list-tags-left">
              <div class="trial-info-elem-block-list-tags-left__eventdate">{{event.event_date|date:"m/d"}}</div>
              <div class="trial-info-elem-block-list-tags-left__eventtime">{{event.event_date|date:"A g:i"}} ~</div>
            </div>
            <div class="trial-info-elem-block-list-tags-right">
              <div class="trial-info-elem-block-list-tags-right__owner">主催者：　{{event.owner}}</div>
              <div class="trial-info-elem-block-list-tags-right__place">場所：　　{{event.place}}</div>
              <div class="trial-info-elem-block-list-tags-right__entryfee">参加費：　{{event.entry_fee}} 円</div>
              <div class="trial-info-elem-block-list-tags-right__deadline">申込期限：{{event.deadline|date:"Y.m.d"}}</div>
            </div>
          </div>
        </a>
        {% endfor %}
      </div>
    </div>
  </section>

  {% endblock %}
