.block_space{
  height: 120px;
}
.block_mini_space{
  height: 80px;
}
.bar2,.bar3,.bar4{
  width: 212px;
  height: 4px;
  position: absolute;top: 68px;left: 530px;
  background-color: #D6E1F4;
}
.bar3{
  width: 374px;
}
.bar4{
  width: 258px;
}
.box1,.box2,.box3{
  width: 980px;
  height: 300px;
  position: relative;
  margin: 0 auto;
  background-color: #3A1581;
}
.box2{
  position: relative;
}
.box3{
  position: relative;
}
.box1-text1,.box2-text1,.box3-text1{
  color: #D6E1F4;
  font-size: 56px;
  font-family: impact;
  position: absolute;top: 60px;left: 83px;
  width: 310px;
}
.box2-text1{
  width: 450px;
  position: absolute;top: 60px;left:196px;
}
.box3-text1{
  width: 450px;
  position: absolute;top: 60px;left:83px;
}
.box1-text2,.box1-text3,.box2-text2,.box2-text3,
.box3-text2,.box3-text3{
  color: #D6E1F4;
  font-size: 27px;
  font-family: "Hiragino Sans";
  position: absolute;top: 0px; left: 530px;
  font-weight: 700;
}
.box1-text3,.box2-text3,.box3-text3{
  font-size: 20px;
  font-weight: 400;
  width: 410px;
  height: 165px;
  position: absolute;top: 80px; left: 530px;
}
.cover2{
  width: 490px;
  height: 300px;
  background-color: #04111C;
  opacity: 0.5;
  position: absolute;top: 0px;
}
.imgh7{
  width: 490px;
  height: 300px;
  object-fit: cover;
  position: relative;
}
