/* ブラウザの横幅が750px以上の時のCSS */
@media screen and (min-width:750px){
  #news_detail{
    width:800px;
    position: relative;top:283px;
    text-align: center;
    margin: 0 auto;
  }
  /* サムネイルの位置を指定 */
  .news_thumnail{
    position: relative;top:0px;
    vertical-align: top;
    margin: 0 auto;
  }
  /* ニュースの内容が書いてある場所のマスクを作成・指定 */
  #news_cover{
    width:800px;
    background-color: black;
    opacity: 0.5;
    position: relative;top:0px;
    margin: 0 auto;
  }
  /* 左上の三角マークを作成・指定 */
  .triangle_upper_left{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 120px 0 0;
    border-color: #3A1581 transparent transparent transparent;
    position: absolute;top: 400px;left: 0px;
  }
  /* 右下の三角マークの作成・指定 */
  .triangle_lower_right{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 200px 120px;
  border-color: transparent transparent #3A1581 transparent;
  position: absolute;bottom: 0px;right: 0px;
  }
  /* 記事の作成日を指定 */
  .published_date{
    font-size: 32px;
    color: #D6E1F4;
    font-family: impact;
    position: absolute;top:408px;left: 80px;
    text-align: left;
  }
  /* trial/race/trainingのマークを作成 */
  .trial_mark,.race_mark,.training_mark{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;top:446px;left:250px;
  }
  /* それぞれのマークの色を指定 */
  .trial_mark{
    background-color: #8BE043;
  }
  .race_mark{
    background-color: #6AABF7;
  }
  .training_mark{
    background-color: #E07F43;
  }
  /* ニュースのタイトルを指定 */
  .news_title{
    font-size: 32px;
    color: #D6E1F4;
    font-family: "Hiragino Sans";
    font-weight: 700;
    position: absolute;top:456px;left: 80px;
    text-align: left;
  }
  /* ニュースのコンテンツ部分の指定 */
  #news_contents{
    font-size: 16px;
    color: #D6E1F4;
    font-family: "Hiragino Sans";
    font-weight: 700;
    width:680px;
    position: absolute;top:540px;left: 80px;
    text-align: left;
  }
  /* ページネーションを指定 */
  .pagination{
    margin-left: auto;
    margin-right: auto;
    position: relative;top:1000px;
  }
}
