/* top以外のページに共通しているcssで、主にヘッダー部分とカレンダーより下のフッター部分 */

/* ヘッダー部分 */
@media screen and (min-width:751px){
body{
  width: 100%;
  overflow-x: hidden;
  background-color: #04111C;
  background-image: url("../img/home11.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
  .img_top{
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: absolute;top: 0px;left: 0px;
    vertical-align: bottom;
  }
  .cover{
    width: 100%;
    height: 500px;
    background-color: black;
    position: absolute;top: 0px;left: 0px;
    opacity: 0.5;
    vertical-align: bottom;
  }
  #menu1{
    list-style-type: none;
    width: 700px;
    height: 80px;
    margin: 20px;
    padding: 0;
    background-color: rgba (0,0,255,0);
    position:absolute;top:0px;right: 20px;
  }
    #menu1 li{
      position: relative;
      width: 100px;
      float: left;
      margin: 0;
      padding: 0;
      text-align: left;
    }
      #menu1 li a{
        display: block;
        margin: 0;
        padding: 8px 0;
        color: white;
        font-size: 20px;
        font-family: impact;
        line-height: 1;
        text-decoration: none;
      }
      #menu1 li ul{
        list-style: none;
        position: absolute;
        top: 100%;
        left: 0;
        margin: 0;
        padding: 0;
      }
        #menu1 li ul li{
          overflow: hidden;
          width: 100px;
          height: 0;
          color: white;
          -moz-transition: .2s;
          -webkit-transition: .2s;
          -o-transition: .2s;
          -ms-transition: .2s;
          transition: .2s;
          position: relative;left: -4px;
        }
          #menu1 li ul li a{
            padding: 12px 4px;
            background: rgba(0,0,0,0);
            text-align: left;
            font-size: 20px;
            font-weight: normal;
          }
    #menu1 li:hover > a{
      background: rgba(0,0,0,0);
      color: #e0dc62;
    }
    #menu1 li:hover ul li{
      overflow: visible;
      height: 32px;
    }
  #nav-drawer {
    display: none;
  }
  .page_title{
    font-size: 96px;
    font-family: impact;
    color: white;
    text-align: center;
    position: relative;top: 63px;
  }
  #page_minititle{
    font-size: 32px;
    color: white;
    font-weight: 700;
    font-family: "Hiragino Sans";
    text-align: center;
    position: relative;top: -24px;
    display: table;
    margin: 0 auto;
  }
  #page_minititlele_bar{
    height: 4px;
    position: relative;top: -24px;
    margin: 0 auto;
    background-color: white;
  }
  .header_space{
    height: 140px;
  }
/* ヘッダー部分ここまで */
/* フッター部分 */
  .footer_space{
  height: 180px;
}
  .calendar_block{
    position: relative;
    margin: 0 auto;
    height:560px;
    width: 640px;
  }
    .calendar{
      margin: 0px;
      width: 440px;
    	height: auto;
      background-color: rgba (0,0,255,0);
      font-family: Impact;
      float:left;
      position: relative;
    }
      .calendar .month{
        font-size: 40px;
        color: #D6E1F4;
        text-align: center;
        position: relative;top: -20px
      }
      .calendar table{
        margin: 5px;
      	width: 440px;
        height: auto;
        border-top: 8px solid #D6E1F4;
        border-bottom: 8px solid #D6E1F4;
        position: relative;top: -50px;
      }
      .calendar td,tr,th{
        border: 0px;
        background-color: rgba (0,0,255,0);
        color: #D6E1F4;
        padding: 1px;
      	font-size: 16px;
        font-family: Impact;
      	text-align: center;
      	vertical-align: top;
        height: 64px;
        width:70px;
      }
      .calendar th{
        text-align: center;
        vertical-align: middle;
      }
    .calendar_trial_mark,.calendar_training_mark,.calendar_race_mark{
      width: 28px;
      height: 28px;
      border-radius: 50%;
      position: absolute;left: 480px;
    }
    .calendar_trial_mark{
      background-color: #68D92D;
      top: 280px;
    }
    .calendar_training_mark{
      background-color: #6AABF7;
      top: 340px;
    }
    .calendar_race_mark{
      background-color: #FF0000;
      top: 400px;
    }
    .calendar_trial,.calendar_training,.calendar_race{
      font-size: 24px;
      color: #D6E1F4;
      font-weight: 700;
      font-family:"Hiragino Sans";
      position: absolute;left: 540px;
    }
    .calendar_trial{
      top: 252px;
    }
    .calendar_training{
      top: 312px;
    }
    .calendar_race{
      top: 372px;
    }
  .footer_block{
    position: relative;
    height: 240px;
  }
    #footer_menu{
      list-style-type: none;
      width: 700px;
      height: 80px;
      margin: 20px;
      padding: 0;
      background-color: rgba (0,0,255,0);
      position: relative;top: 0px;
      margin: 0 auto;
    }
      #footer_menu li{
        position: relative;
        width: 100px;
        float: left;
        margin: 0;
        padding: 0;
        text-align: center;
      }
      #footer_menu li a {
        display: block;
        margin: 0;
        padding: 8px 0;
        color: #D6E1F4;
        font-size: 20px;
        font-family: impact;
        line-height: 1;
        text-decoration: none;
      }
      #footer_menu li ul{
        list-style: none;
        position: absolute;
        top: 100%;
        left: 0;
        margin: 0;
        padding: 0;
      }
      #footer_menu li ul li{
        overflow: hidden;
        width: 100px;
        height: 0;
        color: #D6E1F4;
        -moz-transition: .2s;
        -webkit-transition: .2s;
        -o-transition: .2s;
        -ms-transition: .2s;
        transition: .2s;
      }
      #footer_menu li:hover > a{
        background: rgba (0,0,255,0);
        color: #e0dc62;
      }
      #footer_menu li:hover ul li{
        overflow: visible;
        height: 32px;
        border-bottom: 1px solid rgba (0,0,255,0);
      }
    .footer_mail,.jfsa_romaji,.jfsa{
      font-family: impact;
      color: #D6E1F4;
      left: 50%;
      transform: translate(-50%,);
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
    }
    .footer_mail{
      font-size: 20px;
      position:  absolute;top:98px;
    }
    .jfsa_romaji{
      font-size: 24px;
      position:  absolute;top:140px;
    }
    .jfsa{
      font-size: 20px;
      font-family:"Hiragino Sans";
      font-weight: 700;
      position:  absolute;top:176px;
    }
    .footer_icons{
      display: flex;
      position: absolute;top:60px;
      left: 50%;
      transform: translate(-50%,);
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
    }
      .footer_icon{
        margin-left: 18px;
        margin-right: 18px;
      }
        .footer_line{
          color: #D6E1F4;
          font-size: 3em;
        }
        .footer_inst{
          color: #D6E1F4;
          font-size: 3em;
        }
        .footer_facebook{
          color: #D6E1F4;
          font-size: 3em;
        }
        .footer_twitter{
          color: #D6E1F4;
          font-size: 3em;
        }
  .bottom_space{
    height: 60px;
  }
}

/* フッター部分ここまで */





@media screen and (max-width:750px){
  body{
    width: 750px;
    background-color: #04111C;
    background-image: url("../img/backscreen.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .img_top{
  width: 750px;
  height: 800px;
  object-fit: cover;
  position: absolute;top: 0px;left: 0px;
  vertical-align: bottom;
  }
  .cover{
  width: 750px;
  height: 800px;
  background-color: black;
  position: absolute;top: 0px;left: 0px;
  opacity: 0.5;
}
  .imgh1{
    display: none;
  }
  .imgh1-2{
    width: 750px;
    height: 1280px;
    position: absolute;top: 0px;left: 0px;
  }
  #menu1{
    display: none;
  }
  #nav-drawer {
    position: relative;
    position: absolute;top: 56px;left: 622px;
  }
  .nav-unshown {
    display:none;
  }
  #nav-open {
      display: inline-block;
      width: 72px;
      height: 50px;
      vertical-align: middle;
  }
  #nav-open span, #nav-open span:before, #nav-open span:after {
      position: absolute;left: 0px;
      height: 8px;
      width: 72px;
      border-radius: 3px;
      background: white;
      display: block;
      content: '';
      cursor: pointer;
      z-index: 500;
  }
  #nav-open span:before {
      bottom: -20px;
  }
  #nav-open span:after {
      bottom: -40px;
  }
  #nav-close {
      display: none;
      position: fixed;
      z-index: 99;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      opacity: 0;
      transition: .3s ease-in-out;
  }
  #nav-content {
      overflow: auto;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 9999;
      width: 90%;
      max-width: 500px;
      height: 100%;
      background: #000033;
      transition: .3s ease-in-out;
      -webkit-transform: translateX(105%);
      transform: translateX(105%);
  }
  #nav-input:checked ~ #nav-close {
      display: block;
      opacity: .5;
  }

  #nav-input:checked ~ #nav-content {
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
  #menu3{
    list-style-type: none;
  }

  #menu3 li a{
    display: block;
    margin: 0;
    padding: 8px 0;
    color: #D6E1F4;
    font-size: 40px;
    font-family: impact;
    line-height: 1;
    text-decoration: none;
    border-top: 2px solid white;
  }
  #menu3 li ul li{
    list-style-type: none;
  }
  #menu3 li ul li a{
    list-style-type: none;
    border-top: none;
    border-bottom: none;
    color: #FFFF33;
  }
  .footer_space{
  height: 180px;
}
  .calendar_block{
    position: relative;
    margin: 0 auto;
    height:560px;
    width: 640px;
  }
    .calendar{
      margin: 0px;
      width: 440px;
      height: auto;
      background-color: rgba (0,0,255,0);
      font-family: Impact;
      float:left;
      position: relative;
    }
      .calendar .month{
        font-size: 40px;
        color: #D6E1F4;
        text-align: center;
        position: relative;top: -20px
      }
      .calendar table{
        margin: 5px;
        width: 440px;
        height: auto;
        border-top: 8px solid #D6E1F4;
        border-bottom: 8px solid #D6E1F4;
        position: relative;top: -50px;
      }
      .calendar td,tr,th{
        border: 0px;
        background-color: rgba (0,0,255,0);
        color: #D6E1F4;
        padding: 1px;
        font-size: 16px;
        font-family: Impact;
        text-align: center;
        vertical-align: top;
        height: 64px;
        width:70px;
      }
      .calendar th{
        text-align: center;
        vertical-align: middle;
      }
    .calendar_trial_mark,.calendar_training_mark,.calendar_race_mark{
      width: 28px;
      height: 28px;
      border-radius: 50%;
      position: absolute;left: 480px;
    }
    .calendar_trial_mark{
      background-color: #68D92D;
      top: 280px;
    }
    .calendar_training_mark{
      background-color: #6AABF7;
      top: 340px;
    }
    .calendar_race_mark{
      background-color: #FF0000;
      top: 400px;
    }
    .calendar_trial,.calendar_training,.calendar_race{
      font-size: 24px;
      color: #D6E1F4;
      font-weight: 700;
      font-family:"Hiragino Sans";
      position: absolute;left: 540px;
    }
    .calendar_trial{
      top: 252px;
    }
    .calendar_training{
      top: 312px;
    }
    .calendar_race{
      top: 372px;
    }
  .footer_block{
    position: relative;
    height: 240px;
  }
    #footer_menu{
      list-style-type: none;
      width: 700px;
      height: 80px;
      margin: 20px;
      padding: 0;
      background-color: rgba (0,0,255,0);
      position: relative;top: 0px;
      margin: 0 auto;
    }
      #footer_menu li{
        position: relative;
        width: 100px;
        float: left;
        margin: 0;
        padding: 0;
        text-align: center;
      }
      #footer_menu li a {
        display: block;
        margin: 0;
        padding: 8px 0;
        color: #D6E1F4;
        font-size: 20px;
        font-family: impact;
        line-height: 1;
        text-decoration: none;
      }
      #footer_menu li ul{
        list-style: none;
        position: absolute;
        top: 100%;
        left: 0;
        margin: 0;
        padding: 0;
      }
      #footer_menu li ul li{
        overflow: hidden;
        width: 100px;
        height: 0;
        color: #D6E1F4;
        -moz-transition: .2s;
        -webkit-transition: .2s;
        -o-transition: .2s;
        -ms-transition: .2s;
        transition: .2s;
      }
      #footer_menu li:hover > a{
        background: rgba (0,0,255,0);
        color: #e0dc62;
      }
      #footer_menu li:hover ul li{
        overflow: visible;
        height: 32px;
        border-bottom: 1px solid rgba (0,0,255,0);
      }
    .footer_mail,.jfsa_romaji,.jfsa{
      font-family: impact;
      color: #D6E1F4;
      left: 50%;
      transform: translate(-50%,);
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
    }
    .footer_mail{
      font-size: 20px;
      position:  absolute;top:98px;
    }
    .jfsa_romaji{
      font-size: 24px;
      position:  absolute;top:140px;
    }
    .jfsa{
      font-size: 20px;
      font-family:"Hiragino Sans";
      font-weight: 700;
      position:  absolute;top:176px;
    }
    .footer_icons{
      display: flex;
      position: absolute;top:60px;
      left: 50%;
      transform: translate(-50%,);
      -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
    }
      .footer_icon{
        margin-left: 18px;
        margin-right: 18px;
      }
        .footer_line{
          color: #D6E1F4;
          font-size: 3em;
        }
        .footer_inst{
          color: #D6E1F4;
          font-size: 3em;
        }
        .footer_facebook{
          color: #D6E1F4;
          font-size: 3em;
        }
        .footer_twitter{
          color: #D6E1F4;
          font-size: 3em;
        }
  .bottom_space{
    height: 60px;
  }
}
