.block_space{
  height: 120px;
}
.trial_description{
  width: 980px;
  height: 745px;
  margin: 0 auto;
  position: relative;
}
.trial_img1{
  position: absolute;
}
.trial_img2{
  position: absolute;right: 0px;
}
.description1{
  width: 742px;
  height: 395px;
  position: absolute;top: 350px;right: 0px;
}
.description2{
  width: 742px;
  height: 395px;
  position: absolute;top: 350px;left: 0px;
}
.description_cover{
  width:742px;
  height:395px;
  background-color: black;
  position: absolute;
  opacity: 0.5;
}
.triangle_upper_right{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 240px 160px 0;
  border-color: transparent #3A1581 transparent transparent;
  position: absolute;top: 0px;right: 0px;
}
.triangle_lower_left{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 160px 0 0 240px;
  border-color: transparent transparent transparent #3A1581;
  position: absolute;top: 235px;left: 0px;
}
.description_title{
  font-size: 40px;
  color: #D6E1F4;
  font-family: "Hiragino Sans";
  font-weight: 700;
  position: absolute;top: 0px;left: 40px;
}
.description_text{
  width: 662px;
  font-size: 20px;
  color: #D6E1F4;
  font-family: "Hiragino Sans";
  font-weight: 400;
  position: absolute;top: 96px;left: 40px;
}
.detail_bar{
width: 80px;
height: 48px;
position: relative;
margin: 0 auto;
}
.detail_bar1{
width: 80px;
height: 8px;
background-color: #D6E1F4;
position: absolute;
left: 50%;
transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
}
.detail_bar2{
width: 40px;
height: 8px;
background-color: #D6E1F4;
position: absolute; top: 20px;
left: 50%;
transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
}
.detail_bar3{
width: 12px;
height: 8px;
background-color: #D6E1F4;
position: absolute; top: 40px;
left: 50%;
transform: translateX(-50%);
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
}
.race_schedule{
  width: 980px;
  margin: 0 auto;
}
.race_schedule_title{
  font-size: 72px;
  color: #D6E1F4;
  font-weight: 700;
  font-family: impact;
  text-align: center;
}
.race_schedule_bar{
  width: 60px;
  height: 12px;
  background-color: #D6E1F4;
  position:relative;top: -72px;
  margin: 0 auto;
}
.record{

}
.box1{
  width:814px;
  height: 448px;
  position: relative;
  margin: 0 auto;
}
.img-training4{
  width: 360px;
  height: 180px;
  object-fit: cover;
  position: relative;left: 0px;
}
.img-training5{
  width: 360px;
  height: 180px;
  object-fit: cover;
  position: relative;right: -90px;
}
.img-training6{
  width: 360px;
  height: 180px;
  position: relative;left: 227px;top: 88px;
}
.cover2,.cover3,.cover4{
  width: 360px;
  height: 180px;
  background-color: black;
  position: absolute;top: 0px;
  opacity: 0.5;
}

.cover3{
  position: absolute; top: 0px;right: -1px;
}
.cover4{
  position: absolute; top: 275px;right: 227px;
}
.button4,.button5,.button6{
  width: 360px;
  height: 180px;
  float:left;
  text-align:center;
  cursor:pointer;
  position: absolute;top: 0px;left: -50px;
  box-sizing:border-box;
  overflow:hidden;
  margin:0 0 40px 50px;
  border: 2px solid #1028A0;
}
.button5{
  position: absolute;top:0px; left: 405px;
}
.button6{
  position: absolute;;top: 274px; left: 177px;
}
.button4 a,.button5 a,.button6 a{
  font-size: 40px;
  font-family:impact;
  color:white;
  text-decoration:none;
  transition:all .5s ease;
  z-index:2;
  position:relative;top: 40px;
  text-align: center;
  text-decoration: none;
}
.eff-2{
  width:360px;
  height:180px;
  left:-360px;
  background:#D6E1F4;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.button4:hover .eff-2,
.button5:hover .eff-2,
.button6:hover .eff-2{
  left:0;
}
.button4:hover a,
.button5:hover a,
.button6:hover a{
  color:#04111C;
}
.btext4,.btext5,.btext6{
  font-size: 16px;
  text-decoration: none;
  font-family: "Hiragino Sans";
  font-weight: 700;
}



.timeline {
  list-style: none;
}
.timeline > li {
  margin-bottom: 60px;
}

/* for Desktop */
@media ( min-width : 640px ){
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 113.5px;
    float: left;
    margin-top: 20px;
    font-size: 20px;
    color: #D6E1F4;
    font-family: "Hiragino Sans";
    font-weight: 700;
    text-align: center;

  }
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
    font-size: 18px;
    color: #D6E1F4;
    font-family: "Hiragino Sans";
  }
  .timeline-content:before {
    content: '';
    width: 18px;
    height: 18px;
    background: #6fc173;
    position: absolute;
    left: 106px;
    top: 24px;
    border-radius: 100%;
  }
}
