@media screen and (min-width:751px){
body{
  width: 100%;
  background-color: #04111C;
  background-image: url("../img/home11.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.allbox{
  width: 100%;
  height: 400px;
  max-width: 1366px;
  position: relative;top:1034px;
  margin: 0 auto;
}
.box1{
  width: 100%;
  height: 300px;
  max-width: 1366px;
  position: relative;top: 800px;
  margin: 0 auto;
}
.box2{
  width: 100%
  height:200px;
  position: relative;top: 1000px;
  margin:0 auto;
}
.box3{
  width: 100%;
  height: 200px;
  position: relative;top: 0px;
  margin: 0 auto;
}
.box4,.box5,.box6{
  width: 800px;
  height: 700px;
  position: relative;top: 1000px;
  margin: 0 auto;
}
.box5{
  height: 550px;
}
.box6{
  height: 100px;
  position: relative;top: 1224px;
}
.button1,.button5{
  width:102px;
  height:40px;
  border:2px solid #D6E1F4;
  text-align:center;
  cursor:pointer;
  position:relative;top: 140px;
  overflow: hidden;
  margin:0 auto;
}
.button2,.button3,
.button4{
  width:102px;
  height:40px;
  border:2px solid #D6E1F4;
  float:left;
  text-align:center;
  cursor:pointer;
  position: absolute;top: 348px;right: 8px;
  box-sizing:border-box;
  overflow:hidden;
}
.button3{
  position: absolute;top: 422px;right: 8px;
}
.button4{
  position: absolute;top: 496px;right: 8px;
}
.button5{
  position: relative;top: 374px;
}
.button1 a,.button2 a,.button3 a,
.button4 a,.button5 a{
  font-family:impact;
  font-size:32px;
  color:#D6E1F4;
  text-decoration:none;
  transition:all .5s ease;
  z-index:2;
  position:relative;
  text-align: center;
}
.eff-1{
  width:140px;
  height:40px;
  left:-140px;
  background:#D6E1F4;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.button1:hover .eff-1,
.button2:hover .eff-1,
.button3:hover .eff-1,
.button4:hover .eff-1,
.button5:hover .eff-1{
  left:0;
}
.button1:hover a{
  color:#3A1581;
}
.button2:hover a,
.button3:hover a,
.button4:hover a,
.button5:hover a{
  color:#04111C;
}
.imgh1{
  width: 100%;
  height: 768px;
  object-fit: cover;
  position: absolute;top: 0px;left: 0px;
}
.imgh1-2{
  display: none;
}
.imgh2{
  position: absolute; top: 160px;right: 9%;
  width: 560px;
  height: 489px;
}
.imgh3{
  width: 50%;
  height: 500px;
  object-fit: cover;
  position: absolute;top: 0px; left: 0px;
}
.imgh4,.imgh5,.imgh6,.imgh7{
  width: 480px;
  height: 240px;
}
.imgh8,.imgh9{
  width: 56px;
  position: relative;top: 66px;left: 185px;
}
.imgh9{
  position: relative;top: 66px;left: 170px;
}
.imgh8-2,.imgh9-2{
  display: none;
}
.imgh10,.imgh12,.imgh13{
  width: 72px;
  position:relative;top: 58px;left: 204px;
}
.imgh10-2,.imgh12-2,.imgh13-2{
  display: none;
}
.imgh12{
  position:relative;top: 64px;left: 204px;
}
.imgh13{
  position:relative;top: 54px;left: 204px;
}
.LINE,.insta,.twitter,.YouTube{
  width: 60px;
  height: 60px;
}
.LINE{
  position: absolute;top: 112px;left: 226px;
}
.insta{
  position: absolute;top: 112px;left: 322px;
}
.YouTube{
  position: absolute;top: 112px;left: 418px;
}
.twitter{
  position: absolute;top: 112px;left: 514px;
}
#menu1{
  list-style-type: none;
  width: 700px;
  height: 80px;
  margin: 20px;
  padding: 0;
  background-color: rgba (0,0,255,0);
  position:absolute;top: 0px;right: 20px;
}
#menu2{
  list-style-type: none;
  width: 700px;
  height: 80px;
  margin: 20px;
  padding: 0;
  background-color: rgba (0,0,255,0);
  position: relative;top: 0px;
  margin: 0 auto;
}
#menu1 li{
  position: relative;
  width: 100px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: left;
}
#menu2 li{
  position: relative;
  width: 100px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#menu1 li a{
  display: block;
  margin: 0;
  padding: 8px 0;
  color: #D6E1F4;
  font-size: 20px;
  font-family: impact;
  line-height: 1;
  text-decoration: none;
}
#menu2 li a {
  display: block;
  margin: 0;
  padding: 8px 0;
  color: #D6E1F4;
  font-size: 20px;
  font-family: impact;
  line-height: 1;
  text-decoration: none;
}
#menu1 li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
#menu2 li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}

#menu1 li ul li{
  overflow: hidden;
  width: 100px;
  height: 0;
  color: #D6E1F4;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
  position: relative;left: -4px;
}
#menu2 li ul li{
  overflow: hidden;
  width: 100px;
  height: 0;
  color: #D6E1F4;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#menu1 li ul li a{
  padding: 12px 4px;
  background: rgba (0,0,255,0);
  font-size: 20px;
  text-align: left;
  font-weight: normal;
}
#menu2 li ul li a{
  padding: 12px 4px;
  background: rgba (0,0,255,0);
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
#menu1 li:hover > a{
  background: rgba (0,0,255,0);
  color: #e0dc62;
}
#menu2 li:hover > a{
  background: rgba (0,0,255,0);
  color: #e0dc62;
}
#menu1 li:hover ul li{
  overflow: visible;
  height: 32px;
  border-bottom: 1px solid rgba (0,0,255,0);
}
#menu2 li:hover ul li{
  overflow: visible;
  height: 32px;
  border-bottom: 1px solid rgba (0,0,255,0);
}
#nav-drawer {
  display: none;
}
h2{
  font-size: 32px;
  font-family: Impact;
  letter-spacing: 0.77px;
  color: #D6E1F4;
  position: relative; top:0px;
  text-align: center;
  margin-bottom: 40px;
}
h3{
  font-size: 24px;
  font-family: "Hiragino Sans";
  letter-spacing: 0.77px;
  color: #D6E1F4;
  position: relative; top:0px;
  text-align: center;
  margin-bottom: 0px;
}
.title1,.title2,.title3,.title4{
  font-size: 72px;
  color: #D6E1F4;
  font-family: impact;
  position: relative;top:0px;
  text-align: center;
}
.title2{
  position: relative;top: 0px;
}
.title3{
  position: relative;top: 0px;
}
.title4{
  position: relative;top: 0px;
}
.more1,.more2,.more3{
  font-size: 40px;
  color: #D6E1F4;
  font-family: impact;
  position: absolute;top: 310px; left: 512px;
}
.more2{
  position: absolute;top: 382px; left: 512px;
}
.more3{
  position: absolute;top: 454px; left: 512px;
}
.circle1,.circle2,.circle3{
  width: 40px;
  height: 40px;
  background-color: #68D92D;
  border-radius: 50%;
  position: absolute;top:356px;left:448px;
}
.circle2{
  background-color: #6AABF7;
  position: absolute;top:426px;left:448px;
}
.circle3{
  background-color: #FF0000;
  position: absolute;top:498px;left:448px;
}
.bar1{
  width: 80px;
  height: 8px;
  background-color: #D6E1F4;
  position:relative;top: 60px;
  margin:0 auto;
}
.bar2{
    width: 40px;
    height: 8px;
    background-color: #D6E1F4;
    position:relative;top: 72px;
    margin:0 auto;
}
.bar3{
    width: 12px;
    height: 8px;
    background-color: #D6E1F4;
    position:relative;top: 84px;
    margin:0 auto;
}
.bar4,.bar5,.bar10,.bar11{
    width: 60px;
    height: 12px;
    background-color: #D6E1F4;
    position:relative;top: -72px;
    margin: 0 auto;
}
.bar5{
    position:relative;top: -74px;
}
.bar6,.bar7,.bar8,.bar9{
  width: 416px;
  height: 4px;
  background-color: #D6E1F4;
  position: relative;top: -300px;left: 80px;
}
.bar7{
  width: 256px;
}
.bar8{
  width: 320px;
}
.bar9{
  width: 224px;
}
.bar10{
  position: relative;top: -72px;
}
.bar11{
  position: relative;top:-72px;
}
.bar12,.bar13{
  width: 600px;
  height: 2px;
  position: absolute;top: 158px;left: 100px;
  background-color: #D6E1F4;
}
.bar13{
  position: absolute;top: 484px;
}
.hbox1{
  width: 100%;
  height: 500px;
  position: relative;top: -14px;left: 0px;
  background-color: #3A1581;
}
.hbox2{
  width: 50%;
  height: 500px;
  position: relative;top: 0px;right: -50%;
}
.hbox1 p {
  font-size: 24px;
  font-family: "Hiragino Sans";
  color: #D6E1F4;
  position: relative;top: 100px;
  width: auto;
  font-weight: 700;
  margin: 0 62px;
  min-width: 300px;
}


.triangle1,.triangle2{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 408px 480px 0 0;
  border-color: #3A1581 transparent transparent transparent;
  position: absolute;top: 256px;right: 682px;
}
.triangle3,.triangle4{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 408px 480px 0 0;
  border-color: #3A1581 transparent transparent transparent;
  position: absolute;top: 824px;left: 0px;
}
.triangle2{
  position: absolute;top: 256px;right: 80px;
}
.triangle4{
  position: absolute;top: 824px; left:602px;
}
.tritext1,.tritext3,.tritext5,.tritext7 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Hiragino Sans";
  color: #D6E1F4;
  position: relative;top: -268px;left: 80px;
  width: 416px;
}
.tritext1link{
  text-decoration: none;
  color: #D6E1F4;
}
.tritext1link :hover{
	transform: scale(1.05);
}
.tritext2,.tritext4,.tritext6,.tritext8 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Hiragino Sans";
  color: #D6E1F4;
  width: 330px;
  position: relative;top: -300px;left: 80px;
}
.tritext2-2,.tritext4-2,.tritext6-2,.tritext8-2{
  display: none;
}
.tritext2-2{
  font-size: 40px;
  font-family: impact;
  color: #D6E1F4;
  position: absolute;top: -202px;left: 598px;
  display: none;
}
.tritext3{
  width: 256px;
}
.tritext5{
  width: 320px;
}
.tritext7{
  width: 240px;
}
.figure1,.figure2,.figure3,.figure4 {
  position: absolute;top: -508px;left: 44px;
  overflow: hidden;
  width: 480px;
  height: 240px;
}

.figcaption1,.figcaption2,.figcaption3,.figcaption4 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 480px;
  height: 240px;
  background: rgba(0,0,0,.6);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}
.figcaption1 p,.figcaption2 p,
.figcaption3 p,.figcaption4 p {
  font-size: 40px;
  font-family: impact;
  color: #D6E1F4;
  position: relative;bottom: -20px;
  text-align: center;
}
.figcaption2 p,.figcaption3 p,.figcaption4 p{
  position: relative;bottom: -8px;
}
.figure1:hover .figcaption1 {
  opacity: 1;
  top: 4px;
  left: 0px;
}
.figure2:hover .figcaption2 {
  opacity: 1;
  top: 0px;
  left: 0px;
}
.figure3:hover .figcaption3 {
  opacity: 1;
  top: 0px;
  left: 0px;
}
.figure4:hover .figcaption4 {
  opacity: 1;
  top: 0px;
  left: 0px;
}

.calendar{
  margin: 0px;
  width: 410px;
	height: auto;
  background-color: rgba (0,0,255,0);
  font-family: Impact;
  float:left;
  position: relative;
}
.calendar .month{
  font-size: 40px;
  color: #D6E1F4;
  text-align: center;
  position: relative;top: -20px
}
.calendar table{
  margin: 5px;
	width: 400px;
  height: auto;
  border-top: 8px solid #D6E1F4;
  border-bottom: 8px solid #D6E1F4;
  position: relative;top: -50px;
}
.calendar td,tr,th{
  border: 0px;
  background-color: rgba (0,0,255,0);
  color: #D6E1F4;
  padding: 1px;
	font-size: 16px;
  font-family: Impact;
	text-align: center;
	vertical-align: top;
  height: 60px;
  width:56px;
}
.calendar th{
  text-align: center;
  vertical-align: middle;
}
.msr_newslist01 {
  width: 600px;
  position: absolute;top: 144px;left: 60px;
  list-style: none;

}
.msr_newslist01 li {
  border-bottom: 2px solid #D6E1F4;
  border-top: 2px solid #D6E1F4;
  font-weight: 700;
  color: #000033;
  width: 600px;
  height: 50px;
}
.msr_newslist01 li a {
  box-sizing: border-box;
  color: #D6E1F4;
  display: table;
  padding: 10px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}
.msr_newslist01 li a:hover {
  background: #000088;
  text-decoration: none;
}
.msr_newslist01 li .news_list {
  display: table-cell;
  width: 144px;
}
.msr_newslist01 li .news_title {
  display: table-cell;
  padding: 0px;
  vertical-align: middle;
  position: relative;left: 40px;top: 4px;
}

/* 時間の設定 */
.msr_newslist01 li .published_date {
  display: table-cell;
  vertical-align: top;
  width: 90px;
  color: #D6E1F4;
  font-family: impact;
  font-weight: normal;
  position: relative;top: 4px;
}

/* カテゴリの設定 */
.msr_newslist01 li .trial_mark,
.msr_newslist01 li .race_mark,
.msr_newslist01 li .training_mark,
.msr_newslist01 li .no_mark {
  display: table-cell;
  vertical-align: top;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  position: relative;left:10px;top:4px;
}
.msr_newslist01 li .trial_mark {
  background-color: #8BE043;
}
.msr_newslist01 li .race_mark {
  background-color: #6AABF7;
}
.msr_newslist01 li .training_mark {
  background-color: #E07F43;
}
.msr_newslist01 li .no_mark {
  background-color: rgba(0,0,255,0);
}
.msr_newslist01 p {
  color: #D6E1F4;
}

.mailadd,.JFSA{
  font-size: 24px;
  font-family: impact;
  color: #D6E1F4;
  position: relative;top:-44px;
  text-align: center;
}
.JFSA{
  position: relative;top:40px;
  margin-bottom: 120px;
}
.snsbox1,.snsbox2,.snsbox3,.snsbox4 {
	position:absolute;
	width: 100px;
	height: 40px;
	top: 56px;
	left: 208px;
	border-radius: 10px 10px 10px 10px;
	background-color:  yellow;
	display: none;
}
.snsbox2{
  left: 304px;
}
.snsbox3{
  left: 400px;
}
.snsbox4{
  left: 496px;
}
.snsbox1:after,.snsbox2:after,
.snsbox3:after,.snsbox4:after{
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	top: 40px;
	left: 40px;
	border: 8px solid transparent;
	border-top: 8px solid  yellow;
}

.snstext1,.snstext2,.snstext3,.snstext4 {
	font-size: 16px;
  font-weight: 700;
	position: absolute;
	top: -7px;
	width: 100px;
  text-align: center;
	color: #000044;
}

.sample:hover .snsbox1,.sample:hover .snsbox2,
.sample:hover .snsbox3,.sample:hover .snsbox4 {
	z-index: 2;
  display: block;
}
}


@media screen and (min-width:751px) and ( max-width:1100px) {
.box3{
  width: 800px;
  height: 2000px;
  position: relative;top: 0px;
  margin: 0 auto;
}
.box4,.box5,.box6{
  width: 800px;
  height: 700px;
  position: relative;top: 288px;
  margin: 0 auto;
}
.box5{
  height: 550px;
}
.box6{
  height: 100px;
  position: relative;top: 512px;
}
.triangle1{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 408px 480px 0 0;
  border-color: #3A1581 transparent transparent transparent;
  position: absolute;top: 256px;left: -8px;
}
.triangle2{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 480px 408px 0;
  border-color: transparent #3A1581 transparent transparent;
  position: absolute;top: 784px;right: 0px;
}
.triangle3{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 408px 480px 0 0;
  border-color: #3A1581 transparent transparent transparent;
  position: absolute;top: 1312px;left: -8px;
}
.triangle4{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 480px 408px 0;
  border-color: transparent #3A1581 transparent transparent;
  position: absolute;top: 1840px;left: 320px;
}
.tritext1,.tritext3,.tritext5,.tritext7 {
  font-size: 32px;
  font-weight: 700;
  font-family: "Hiragino Sans";
  color: #D6E1F4;
  position: relative;top: -268px;left: 80px;
  width: 416px;
}
.tritext3,.tritext7{
  position: relative;top: 144px;left:-80px;
}
.tritext1link{
  text-decoration: none;
  color: #D6E1F4;
}
.tritext1link :hover{
	transform: scale(1.05);
}
.tritext2,.tritext4,.tritext6,.tritext8 {
  font-size: 20px;
  font-weight: 700;
  font-family: "Hiragino Sans";
  color: #D6E1F4;
  width: 330px;
  position: relative;top: -300px;left: 80px;
}
.tritext4,.tritext8{
  position: relative;top: 112px;left: -80px;
}
.tritext2-2,.tritext4-2,.tritext6-2,.tritext8-2{
  display: none;
}
.tritext2-2{
  font-size: 40px;
  font-family: impact;
  color: #D6E1F4;
  position: absolute;top: -202px;left: 598px;
  display: none;
}
.tritext3{
  width: 256px;
}
.tritext5{
  width: 320px;
}
.tritext7{
  width: 240px;
}
.figure1,.figure3 {
  position: absolute;top: -508px;left: 44px;
  overflow: hidden;
  width: 480px;
  height: 240px;
}
.figure2,.figure4{
  position: absolute;top: -96px;left: -120px;
  overflow: hidden;
  width: 480px;
  height: 240px;
}

.figcaption1,.figcaption2,.figcaption3,.figcaption4 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 480px;
  height: 240px;
  background: rgba(0,0,0,.6);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}
.figcaption1 p,.figcaption2 p,
.figcaption3 p,.figcaption4 p {
  font-size: 40px;
  font-family: impact;
  color: #D6E1F4;
  position: relative;bottom: -20px;
  text-align: center;
}
.figcaption2 p,.figcaption3 p,.figcaption4 p{
  position: relative;bottom: -8px;
}
.figure1:hover .figcaption1 {
  opacity: 1;
  top: 4px;
  left: 0px;
}
.figure2:hover .figcaption2 {
  opacity: 1;
  top: 0px;
  left: 0px;
}
.figure3:hover .figcaption3 {
  opacity: 1;
  top: 0px;
  left: 0px;
}
.figure4:hover .figcaption4 {
  opacity: 1;
  top: 0px;
  left: 0px;
}
.bar7,.bar9{
  width: 416px;
  height: 4px;
  background-color: #D6E1F4;
  position: relative;top: 112px;left: -80px;
}
.bar7{
  width: 256px;
}
.bar9{
  width: 224px;
}
}


@media screen and (max-width:750px){
body{
  width: 750px;
  background-color: #04111C;
  background-image: url("../img/backscreen.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.allbox{
  width: 750px;
  height: 400px;
  max-width: 1366px;
  position: relative;top:3246px;
  margin: 0 auto;
}
.box1{
  width: 750px;
  height: 300px;
  max-width: 1366px;
  position: relative;top: 1500px;
  margin: 0 auto;
}
.box2{
  width: 750px;
  height:200px;
  position: relative;top: 1938px;
  margin:0 auto;
}
.box3{
  width: 750px;
  height: 200px;
  position: relative;top: 0px;
  margin: 0 auto;
}
.box4,.box5,.box6{
  width: 750px;
  height: 700px;
  position: relative;top: 2892px;
  margin: 0 auto;
}
.box5{
  height: 668px;
  position: relative;top: 3248px;
}
.box6{
  height: 100px;
  position: relative;top: 3633px;
}
.button1,.button5{
  width:112px;
  height:53px;
  border:2px solid #D6E1F4;
  text-align:center;
  cursor:pointer;
  position:relative;top: 40px;
  overflow: hidden;
  margin:0 auto;
}
.button2,.button3,
.button4{
  width:102px;
  height:40px;
  border:2px solid #D6E1F4;
  float:left;
  text-align:center;
  cursor:pointer;
  position: absolute;top: 348px;right: 8px;
  box-sizing:border-box;
  overflow:hidden;
  display: none;
}
.button3{
  position: absolute;top: 422px;right: 8px;
}
.button4{
  position: absolute;top: 496px;right: 8px;
}
.button5{
  position: relative;top: 572px;
}
.button1 a,.button2 a,.button3 a,
.button4 a,.button5 a{
  font-family:impact;
  font-size:36px;
  color:#D6E1F4;
  text-decoration:none;
  transition:all .5s ease;
  z-index:2;
  position:relative;top: 4px;
  text-align: center;
}
.eff-1{
  width:140px;
  height:53px;
  left:-140px;
  background:#D6E1F4;
  position:absolute;
  transition:all .5s ease;
  z-index:1;
}
.button1:hover .eff-1,
.button2:hover .eff-1,
.button3:hover .eff-1,
.button4:hover .eff-1,
.button5:hover .eff-1{
  left:0;
}
.button1:hover a{
  color:#3A1581;
}
.button2:hover a,
.button3:hover a,
.button4:hover a,
.button5:hover a{
  color:#04111C;
}
.imgh1{
  width: 100%;
  height: 768px;
  object-fit: cover;
  position: absolute;top: 0px;left: 0px;
  display: none;
}
.imgh1-2{
  width: 750px;
  height: 1280px;
  position: absolute;top: 0px;left: 0px;
}
.imgh2{
  position: absolute; top:396px;left: 95px;
  width: 560px;
  height: 489px;
}
.imgh3{
  width: 750px;
  height: 500px;
  object-fit: cover;
  position: absolute;top: -500px; left: 0px;
}
.imgh4,.imgh5,.imgh6,.imgh7{
  width: 640px;
  height: 320px;
}
.imgh8,.imgh9{
  width: 56px;
  position: relative;top: 66px;left: 185px;
  display: none;
}
.imgh8-2,.imgh9-2{
  width: 56px;
  position: absolute;top: -226px;left: 592px;
}
.imgh9{
  position: relative;top: 66px;left: 170px;
}
.imgh9-2{
  position: absolute;top: -226px;left: 628px;
}
.imgh10,.imgh12,.imgh13{
  width: 72px;
  position:relative;top: 58px;left: 204px;
  display: none;
}
.imgh12{
  position:relative;top: 64px;left: 204px;
}
.imgh13{
  position:relative;top: 54px;left: 204px;
}
.imgh10-2,.imgh12-2,.imgh13-2{
  width: 72px;
  position: absolute;top: 256px;left: -17px;
}
.imgh12-2{
  position: absolute;top:-240px;left: 584px;
}
.imgh13-2{
  position: absolute;top: 258px;left: -17px;
}
.LINE,.insta,.twitter,.YouTube{
  width: 60px;
  height: 60px;
}
.LINE{
  position: absolute;top: 112px;left: 226px;
}
.insta{
  position: absolute;top: 112px;left: 322px;
}
.YouTube{
  position: absolute;top: 112px;left: 418px;
}
.twitter{
  position: absolute;top: 112px;left: 514px;
}
#menu1{
  list-style-type: none;
  width: 700px;
  height: 80px;
  margin: 20px;
  padding: 0;
  background-color: rgba (0,0,255,0);
  position:absolute;top: 0px;right: 20px;
  display: none;
}
#menu2{
  list-style-type: none;
  width: 700px;
  height: 80px;
  margin: 20px;
  padding: 0;
  background-color: rgba (0,0,255,0);
  position: relative;top: 0px;
  margin: 0 auto;
}
#menu1 li{
  position: relative;
  width: 100px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: left;
}
#menu2 li{
  position: relative;
  width: 100px;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
#menu1 li a{
  display: block;
  margin: 0;
  padding: 8px 0;
  color: #D6E1F4;
  font-size: 20px;
  font-family: impact;
  line-height: 1;
  text-decoration: none;
}
#menu2 li a {
  display: block;
  margin: 0;
  padding: 8px 0;
  color: #D6E1F4;
  font-size: 20px;
  font-family: impact;
  line-height: 1;
  text-decoration: none;
}
#menu1 li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}
#menu2 li ul{
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
}

#menu1 li ul li{
  overflow: hidden;
  width: 100px;
  height: 0;
  color: #D6E1F4;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
  position: relative;left: -4px;
}
#menu2 li ul li{
  overflow: hidden;
  width: 100px;
  height: 0;
  color: #D6E1F4;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  -o-transition: .2s;
  -ms-transition: .2s;
  transition: .2s;
}
#menu1 li ul li a{
  padding: 12px 4px;
  background: rgba (0,0,255,0);
  font-size: 20px;
  text-align: left;
  font-weight: normal;
}
#menu2 li ul li a{
  padding: 12px 4px;
  background: rgba (0,0,255,0);
  text-align: center;
  font-size: 20px;
  font-weight: normal;
}
#menu1 li:hover > a{
  background: rgba (0,0,255,0);
  color: #e0dc62;
}
#menu2 li:hover > a{
  background: rgba (0,0,255,0);
  color: #e0dc62;
}
#menu1 li:hover ul li{
  overflow: visible;
  height: 32px;
  border-bottom: 1px solid rgba (0,0,255,0);
}
#menu2 li:hover ul li{
  overflow: visible;
  height: 32px;
  border-bottom: 1px solid rgba (0,0,255,0);
}
#nav-drawer {
  position: relative;
  position: absolute;top: 56px;left: 622px;
}
.nav-unshown {
  display:none;
}
#nav-open {
    display: inline-block;
    width: 72px;
    height: 50px;
    vertical-align: middle;
}
#nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;left: 0px;
    height: 8px;
    width: 72px;
    border-radius: 3px;
    background: white;
    display: block;
    content: '';
    cursor: pointer;
    z-index: 500;
}
#nav-open span:before {
    bottom: -20px;
}
#nav-open span:after {
    bottom: -40px;
}
#nav-close {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .3s ease-in-out;
}
#nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 90%;
    max-width: 500px;
    height: 100%;
    background: #000033;
    transition: .3s ease-in-out;
    -webkit-transform: translateX(105%);
    transform: translateX(105%);
}
#nav-input:checked ~ #nav-close {
    display: block;
    opacity: .5;
}

#nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
}
#menu3{
  list-style-type: none;
}

#menu3 li a{
  display: block;
  margin: 0;
  padding: 8px 0;
  color: #D6E1F4;
  font-size: 40px;
  font-family: impact;
  line-height: 1;
  text-decoration: none;
  border-top: 2px solid white;
}
#menu3 li ul li{
  list-style-type: none;
}
#menu3 li ul li a{
  list-style-type: none;
  border-top: none;
  border-bottom: none;
  color: #FFFF33;
}
h2{
  font-size: 32px;
  font-family: Impact;
  letter-spacing: 0.77px;
  color: #D6E1F4;
  position: relative; top:0px;
  text-align: center;
  margin-bottom: 40px;
}
h3{
  font-size: 28px;
  font-family: "Hiragino Sans";
  letter-spacing: 0.77px;
  color: #D6E1F4;
  position: relative; top:0px;
  text-align: center;
  margin-bottom: 0px;
}
.title1,.title2,.title3,.title4{
  font-size: 72px;
  color: #D6E1F4;
  font-family: impact;
  position: relative;top:0px;
  text-align: center;
}
.more1,.more2,.more3{
  font-size: 29px;
  color: #D6E1F4;
  font-family: impact;
  position: absolute;top: 748px; left: 166px;
}
.more2{
  position: absolute;top: 748px; left: 328px;
}
.more3{
  position: absolute;top: 748px; left: 538px;
}
.circle1,.circle2,.circle3{
  width: 28px;
  height: 28px;
  background-color: #68D92D;
  border-radius: 50%;
  position: absolute;top: 780px;left:130px;
}
.circle2{
  background-color: #6AABF7;
  position: absolute;top: 780px;left:292px;
}
.circle3{
  background-color: #FF0000;
  position: absolute;top:780px;left:502px;
}
.bar1{
  width: 80px;
  height: 8px;
  background-color: #D6E1F4;
  position:relative;top: 200px;
  margin:0 auto;
}
.bar2{
    width: 40px;
    height: 8px;
    background-color: #D6E1F4;
    position:relative;top: 212px;
    margin:0 auto;
}
.bar3{
    width: 12px;
    height: 8px;
    background-color: #D6E1F4;
    position:relative;top: 224px;
    margin:0 auto;
}
.bar4,.bar5,.bar10,.bar11{
    width: 60px;
    height: 12px;
    background-color: #D6E1F4;
    position:relative;top: -72px;
    margin: 0 auto;
}
.bar5{
    position:relative;top: -74px;
}
.bar6,.bar7,.bar8,.bar9{
  width: 416px;
  height: 4px;
  background-color: #D6E1F4;
  position: relative;top: -300px;left: 110px;
}
.bar7{
  width: 256px;
  position: relative;top: 184px;left: 147px;
}
.bar8{
  width: 320px;
}
.bar9{
  width: 224px;
  position: relative;top: 184px;left: 147px;
}
.bar10{
  position: relative;top: -72px;
}
.bar11{
  position: relative;top:-72px;
}
.bar12,.bar13{
  width: 600px;
  height: 2px;
  position: absolute;top: 158px;left: 75px;
  background-color: #D6E1F4;

}
.bar13{
  position: absolute;top: 664px;
}
.hbox1{
  width: 750px;
  height: 468px;
  position: relative;top: 600px;left: -8px;
  background-color: #3A1581;
}
.hbox2{
  width: 560px;
  height: 300px;
  position: relative;top: 60px;left: 95px;
}
.hbox1 p {
  font-size: 28px;
  font-family: "Hiragino Sans";
  color: #D6E1F4;
  position: relative;top:0px;
  width: auto;
  font-weight: 700;
  min-width: 300px;
}


.triangle1,.triangle3{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 474px 640px 0 0;
  border-color: #3A1581 transparent transparent transparent;
  position: absolute;top: 288px;left: -8px;
}
.triangle2,.triangle4{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 640px 474px 0;
  border-color: transparent #3A1581 transparent transparent;
  position: absolute;top: 998px;left: 102px;
}
.triangle3{
  position: absolute;top: 1708px;left: -8px;
}
.triangle4{
  position: absolute;top: 2416px; left:102px;
}
.tritext1,.tritext3,.tritext5,.tritext7{
  font-size: 32px;
  font-weight: 700;
  font-family: "Hiragino Sans";
  color: #D6E1F4;
  position: relative;top: -268px;left: 110px;
  width: 416px;
}
.tritext3{
  position: relative;top: 216px;left: 147px;
}
.tritext1link{
  text-decoration: none;
  color: #D6E1F4;
}
.tritext1link :hover{
	transform: scale(1.05);
}
.tritext2,.tritext4,.tritext6,.tritext8 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Hiragino Sans";
  color: #D6E1F4;
  width: 375px;
  position: relative;top: -300px;left: 110px;
}
.tritext2-2,.tritext4-2,.tritext6-2,.tritext8-2{
  font-size: 40px;
  font-family: impact;
  color: #D6E1F4;
  position: absolute;top: -202px;left: 540px;
  text-align: center;
  width: 200px;
}
.tritext4-2{
  position: absolute;top: 288px; left: -82px;
}
.tritext6-2{
  position: absolute;top: -212px;left: 516px;
}
.tritext8-2{
    position: absolute;top: 296px;left: -82px;
}
.tritext3,.tritext7{
  width: 256px;
  position: relative;top: 220px;left: 147px;
}
.tritext4,.tritext8 {
  position: relative;top: 180px;left: 147px;
}
.tritext5{
  width: 320px;
}
.tritext7{
  width: 240px;
}
.figure1,.figure3 {
  position: absolute;top: -606px;left: 74px;
  overflow: hidden;
  width: 640px;
  height: 320px;
}
.figure2,.figure4{
  position: absolute;top: -126px;left: -158px;
  overflow: hidden;
  width: 640px;
  height: 320px;
}
.figcaption1,.figcaption2,.figcaption3,.figcaption4 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 640px;
  height: 320px;
  background: rgba(100,100,100,.6);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}
.figcaption1 p,.figcaption2 p,
.figcaption3 p,.figcaption4 p {
  font-size: 60px;
  font-family: impact;
  color: #D6E1F4;
  position: relative;
  text-align: center;top: 120px;
  margin:0 auto;
}
.figcaption2 p,.figcaption3 p,.figcaption4 p{
  position: relative;bottom: -8px;
}
.figure1:hover .figcaption1 {
  opacity: 1;
  top: 4px;
  left: 0px;
}
.figure2:hover .figcaption2 {
  opacity: 1;
  top: 0px;
  left: 0px;
}
.figure3:hover .figcaption3 {
  opacity: 1;
  top: 0px;
  left: 0px;
}
.figure4:hover .figcaption4 {
  opacity: 1;
  top: 0px;
  left: 0px;
}

.calendar{
  margin: 0px;
  width: 560px;
	height: auto;
  background-color: rgba (0,0,255,0);
  font-family: Impact;
  float:left;
  position: relative;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%)
}
.calendar .month{
  font-size: 40px;
  color: #D6E1F4;
  text-align: center;
  position: relative;top: -20px
}
.calendar table{
  margin: 5px;
	width: 560px;
  height: auto;
  border-top: 8px solid #D6E1F4;
  border-bottom: 8px solid #D6E1F4;
  position: relative;top: -50px;
}
.calendar td,tr,th{
  border: 0px;
  background-color: rgba (0,0,255,0);
  color: #D6E1F4;
  padding: 1px;
	font-size: 24px;
  font-family: Impact;
	text-align: center;
	vertical-align: top;
  height: 80px;
  width:68px;
}
.calendar th{
  text-align: center;
  vertical-align: middle;
}

.msr_newslist01 {
  width: 600px;
  position: absolute;top: 144px;left: 35px;
  list-style: none;
}
.msr_newslist01 li {
  border-bottom: 2px solid #D6E1F4;
  border-top: 2px solid #D6E1F4;
  font-weight: 700;
  color: #000033;
  width: 600px;
  height: 80px;
}
.msr_newslist01 li a {
  box-sizing: border-box;
  color: #D6E1F4;
  display: table;
  padding: 10px;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;
}
.msr_newslist01 li a:hover {
  background: #000088;
  text-decoration: none;
}
.msr_newslist01 li .news_list {
  display: table-cell;
  width: 144px;
}
.msr_newslist01 li .news_title {
  display: table-cell;
  padding: 0px;
  vertical-align: middle;
  position: relative;left: 40px;top: 12px;
  font-size: 20px;
}

/* 時間の設定 */
.msr_newslist01 li .published_date {
  display: table-cell;
  vertical-align: top;
  width: 90px;
  color: #D6E1F4;
  font-family: impact;
  font-weight: normal;
  font-size: 20px;
  position: relative;top: 12px;
}

/* カテゴリの設定 */
.msr_newslist01 li .trial_mark,
.msr_newslist01 li .race_mark,
.msr_newslist01 li .training_mark,
.msr_newslist01 li .no_mark {
  display: table-cell;
  vertical-align: top;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: relative;left:20px;top:12px;
}
.msr_newslist01 li .trial_mark {
  background-color: #8BE043;
}
.msr_newslist01 li .race_mark {
  background-color: #6AABF7;
}
.msr_newslist01 li .training_mark {
  background-color: #E07F43;
}
.msr_newslist01 li .no_mark {
  background-color: rgba(0,0,255,0);
}
.msr_newslist01 p {
  color: #D6E1F4;
}

.mailadd,.JFSA{
  font-size: 24px;
  font-family: impact;
  color: #D6E1F4;
  position: relative;top:-44px;
  text-align: center;
}
.JFSA{
  position: relative;top:40px;
  margin-bottom: 120px;
}

.snsbox1,.snsbox2,.snsbox3,.snsbox4 {
	position:absolute;
	width: 100px;
	height: 40px;
	top: 56px;
	left: 208px;
	border-radius: 10px 10px 10px 10px;
	background-color:  yellow;
	display: none;
}
.snsbox2{
  left: 304px;
}
.snsbox3{
  left: 400px;
}
.snsbox4{
  left: 496px;
}
.snsbox1:after,.snsbox2:after,
.snsbox3:after,.snsbox4:after{
	position: absolute;
	content: "";
	width: 0;
	height: 0;
	top: 40px;
	left: 40px;
	border: 8px solid transparent;
	border-top: 8px solid  yellow;
}

.snstext1,.snstext2,.snstext3,.snstext4 {
	font-size: 16px;
  font-weight: 700;
	position: absolute;
	top: -7px;
	color: #000044;
  width: 100px;
  text-align: center;
}

.sample:hover .snsbox1,.sample:hover .snsbox2,
.sample:hover .snsbox3,.sample:hover .snsbox4 {
	z-index: 2;
  display: block;
}
}
