@media screen and (min-width:751px){
.block_space{
  height: 120px;
}
.trial_description{
  width: 980px;
  height: 745px;
  margin: 0 auto;
  position: relative;
}
.trial_img1{
  position: absolute;
}
.trial_img2{
  position: absolute;right: 0px;
}
.description1{
  width: 742px;
  height: 395px;
  position: absolute;top: 350px;right: 0px;
}
.description2{
  width: 742px;
  height: 395px;
  position: absolute;top: 350px;left: 0px;
}
.description_cover{
  width:742px;
  height:395px;
  background-color: black;
  position: absolute;
  opacity: 0.5;
}
.triangle_upper_right{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 240px 160px 0;
  border-color: transparent #3A1581 transparent transparent;
  position: absolute;top: 0px;right: 0px;
}
.triangle_lower_left{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 160px 0 0 240px;
  border-color: transparent transparent transparent #3A1581;
  position: absolute;top: 235px;left: 0px;
}
.description_title{
  font-size: 40px;
  color: #D6E1F4;
  font-family: "Hiragino Sans";
  font-weight: 700;
  position: absolute;top: 0px;left: 40px;
}
.description_text{
  width: 662px;
  font-size: 20px;
  color: #D6E1F4;
  font-family: "Hiragino Sans";
  font-weight: 400;
  position: absolute;top: 96px;left: 40px;
}
.detail_bar{
  width: 80px;
  height: 48px;
  position: relative;
  margin: 0 auto;
}
.detail_bar1{
  width: 80px;
  height: 8px;
  background-color: #D6E1F4;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.detail_bar2{
  width: 40px;
  height: 8px;
  background-color: #D6E1F4;
  position: absolute; top: 20px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.detail_bar3{
  width: 12px;
  height: 8px;
  background-color: #D6E1F4;
  position: absolute; top: 40px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}
.event_date_title{
  font-size: 72px;
  color: #D6E1F4;
  font-weight: 700;
  font-family: impact;
  text-align: center;
}
.event_date_bar{
  width: 60px;
  height: 12px;
  background-color: #D6E1F4;
  position:relative;top: -72px;
  margin: 0 auto;
}
.event_scroll{
  display: flex;
	flex-wrap: nowrap;
	justify-content: unset;
	overflow-x: auto;
	overflow-y: hidden;
}
.event_scroll::-webkit-scrollbar {
  display:none;
}
.events_cover{
  width: 100%;
  height: 480px;
  background-color: black;
  opacity: 0.5;
  position: absolute;
}
#event1,#event2,#event3,#event4,#event5,#event6,#event7,#event8,#event9,#event10{
  min-width: 400px;
  height:400px;
  position: relative;
  margin: 40px 40px;
}

.event_thumnail{
  position: absolute;top:0px;left:0px;
}
/* ニュースの文字が書いてある場所のマスクを作成・指定 */
.event_cover{
  width:400px;
  height:200px;
  background-color: black;
  position: absolute;top: 200px;left: 0px;
  opacity: 0.5;
}
/* 左上の三角マークを作成・指定 */
.triangle_upper_left{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 80px 120px 0 0;
  border-color: #3A1581 transparent transparent transparent;
  position: absolute;top: 200px;left: 0px;
}
/* 右下の三角マークの作成・指定 */
.triangle_lower_right{
width: 0;
height: 0;
border-style: solid;
border-width: 0 0 80px 120px;
border-color: transparent transparent #3A1581 transparent;
position: absolute;top: 320px;right: 0px;
}
/* 記事の作成日を指定 */
.event_date{
  font-size: 24px;
  color: #D6E1F4;
  font-family: impact;
  height: 29px;
  position: absolute;top:200px;left: 24px;
  text-align: left;
}
/* trial/race/trainingのマークを作成 */
.trial_mark{
  width: 20px;
  height: 20px;
  background-color: #8BE043;
  border-radius: 50%;
  position: absolute;top:229px;right:223px;
}
/* ニュースのタイトルを指定 */
.event_title{
  font-size: 24px;
  color: #D6E1F4;
  font-family: "Hiragino Sans";
  font-weight: 700;
  height: 24px;
  position: absolute;top:237px;left: 24px;
  text-align: left;
}
/* ニュースの65文字に省略されたコンテンツ部分の指定 */
.event_contents{
  font-size: 16px;
  color: #D6E1F4;
  font-family: "Hiragino Sans";
  font-weight: 700;
  width:352px;
  height:83px;
  position: absolute;top:289px;left: 24px;
  text-align: left;
}



}
@media screen and (min-width:751px) and ( max-width:980px) {
  .trial_description{
    width: 100%;
  }
