%footer-left,.footer-left{
  font-family: Impact;
  font-size: 60px;
  color: #F6F6F6;
  margin-left: 10%;
  &__upname{
    @extend .footer-left;
    margin-left: 0%;
    @media screen and (max-width:549px){
      font-size: 11vw;
    }
  }
  &__jfname{
    @extend .footer-left__upname;
    font-size: 24px;
    @media screen and (max-width:549px){
    font-size: 4.4vw;
    }
  }
  &__saname{
    @extend .footer-left__jfname;
    @media screen and (max-width:549px){
    font-size: 4.4vw;
    }
  }
}
